﻿body
{
    background: #cccccc;
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}
@media (min-width:700px)
{
    .Websiteimage
    {
        display: block;
    }
    .Mobileimage
    {
        display: none;
    }
    .header
    {
        height: 110px;
        border-bottom: 14px solid #72579E !important;
        box-sizing: content-box;
    }
    .Customer_ser
    {
        display: block;
    }
    .tr h1
    {
        font-size: 40px;
    }
    .main
    {
        width: 1160px;
        margin: 0px auto;
        background: #fff;
    }
    .mobile_logo
    {
        display: none !important;
    }
    .Normal_logo
    {
        display: block !important;
    }
    #Order1_lblPostCode
    {
        height: auto;
    }
    #Order1_btnProceed
    {
        margin-left: 0;
        margin-bottom: 0;
    }
    #btnFind
    {
        margin-left: 10px;
    }
    .radiobuttondiv
    {
        width: 400px;
        float: left;
        margin: 0px 0 0 140px !important;
        padding: 0px;
    }
    #lstAddressIP
    {
        width: 273px;
        margin-left: 150px;
    }
    .tr .label
    {
        text-align: right;
    }
    .header a img
    {
        margin: 20px 0px 0px 20px;
        height: 81px;
        float: left;
        padding: 0;
    }
    .header a
    {
        padding: 0 !important;
    }
    .header p
    {
        float: right;
        color: #00426F;
        font-size: 14px !important;
        margin: 6px 10px 0px 0px;
        width: auto !important;
    }
    .LeftImg
    {
        max-width: 459px;
        width: 100%;
    }

    .form-box
    {
        float: left;
        width: 455px;
        background-color: #fff;
        margin: 40px 20px 0 0px;
        clear: both;
        border-radius: 15px;
        padding-bottom: 5px;
    }
    #Order1_divrdn
    {
    }
    .container
    {
        background-color: #ffffff;
        height: auto;
        width: 1160px;
        margin:0 auto;
    }
    .inner_left
    {
        padding: 10px 0px 0px 20px;
    }
    .inner_left img
    {
        float: right;
        margin-right: 15px;
    }
    .inner_right img
    {
        float: left;
        margin-top: 20px;
    }
    .container
    {
        padding: 0 !important;
    }
    .inner_right
    {
        display: block !important;
    }
    .fullfieldv2 h1
    {
        width: 100%;
        text-align: center;
    }

    .lpukcs_tnc
    {
        font-size: 11px;
        line-height: 16px;
        margin-left: 111px;
        text-align: left;
        width: 414px !important;
        padding: 5px 0;
    }

    .footer_boxes
    {
        background: none repeat scroll 0 0 #FFFFFF;
        border-bottom: 1px solid #6E5CA8;
        border-top: 1px solid #6E5CA8;
        float: left;
        margin-top: 0 !important;
        padding-bottom: 0 !important;
        text-align: right;
        width: 1110px !important;
        margin-left: 20px !important;
    }
    #Order1_btnProceed
    {
        background: #0f4979;
        display: block;
        float: left;
        height: 43px !important;
        width: 280px !important;
        margin-left: 150px !important;
        font-size: 18px;
        font-weight: bold !important;
        color: #fff;
        cursor: pointer;
        border: 0 none !important;
        border-radius: 18px;
    }
    .fullfieldv2
    {
        width: 500px;
        float: left;
        margin-left: 120px !important;
    }
    .fullfieldv2 .tr
    {
        padding-top: 2px;
    }
    .blkdes .tr
    {
        clear: both;
        float: left;
        margin: 5px 5px 5px 0;
    }
    .blkdes .tr .label
    {
        color: #193e6b;
        float: left;
        font-size: 15px;
        font-weight: bold;
        margin: 7px 10px 0;
        text-align: right;
        width: 130px !important;
    }

    .lpukv5 .tr input, .lpukcs .tr input
    {
        float: left;
        margin: 3px 0 2px;
    }

    .SecondFooter p
    {
        color: #00427d;
        float: left;
        font-family: Arial;
        font-size: 15px;
        font-weight: normal;
        line-height: 20px;
        margin: 10px 0;
        padding: 0 20px;
        text-align: left;
    }
}
