﻿body
{
    background: #fff;
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}

.free_content_grey
{
    float: left;
    margin: 0 0 0% 0;
    padding: 0 20px;
    width: 100%;
}



.free_content_grey h2
{
    color: #003864;
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-align: center;
    width: 100%;
}

.free_content_grey h3
{
    color: #000;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 20px 0;
    padding: 0;
    text-align: left;
    width: 100%;
}

.free_content_grey21
{
    float: left;
    margin: 10px 0 0px;
    padding: 0;
    width: 3%;
}

.free_content_grey2
{
    float: left;
    margin: 0 0 0px;
    padding: 0;
    width: 23%;
}

.free_content_grey2 img
{
    float: left;
    margin: 0 0 20px 0;
}

.free_content_grey2 h4
{
    color: #003864;
    font-family: Arial;
    font-size: 26px;
    font-weight: bold;
    margin: 2px 0 0;
    text-align: left;
    width: 100%;
}

.free_content_grey2 h5
{
    color: #000;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 94%;
}



.grid_bg
{
    float: right;
    width: 40%;
    margin: 0px 0px 0px 0px;
}

.grid_bg2
{
    float: left;
    width: 50%;
    margin: 50px 0px 0px 20px;
}

.new_grid_bg2
{
    float: left;
    width: 40%;
    margin: 40px 0px 0px 20px;
}

.new_grid_bg2 img
{
    width: 20%;
    float: left;
    margin: 0px 10px 0 0px;
}

.new_grid_bg2 h2
{
    color: #003864;
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    margin: 15px 0 0 20px;
    text-align: left;
    width: 100%;
    display: block;
}



#newbackgroundplue
{
    background: #6d5da8;
    padding: 0;
}



#bangnew
{
    background: url("/allinone/images/bangladesh2.png") no-repeat scroll 10px 10px;
    background-size: 620px;
    float: left;
    height: auto;
    width: 100%;
    border-radius: 10px;
}

#newbackgroundplue2
{
    background: #ebebeb;
    margin: 0px 0px 0 0;
    padding: 20px 20px 20px 0;
    border-radius: 0px 10px 10px 0px;
}

.new_grid_bg12
{
    float: left;
    width: 77%;
    margin: 30px 0px 0px 0px;
}

.new_grid_bg12 img
{
    float: left;
    margin: 0px 10px 0 0px;
    width: 210px;
}

.new_grid_bg12 h2
{
    color: #003864;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 0 20px;
    text-align: left;
    width: 70%;
    display: block;
    float: left;
}

.new_free_content_grey
{
    float: left;
    margin: 0 0 0% 0;
    padding: 0 20px;
    width: 100%;
    display: none;
}



.new_free_content_grey h2
{
    color: #003864;
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-align: center;
    width: 100%;
}

.header
{
    height: 110px;
    box-sizing: content-box;
    border-bottom: 1px solid #01456a;
    margin: 0 0 10px 0;
}


.header a
{
    padding: 0;

}
.header p
{
    float: right;
    color: #00426F;
    font-size: 14px !important;
    margin: 6px 10px 0px 0px;
    width: auto !important;
}


.img
{
    display: none;
    min-width: 100%;
}

.img2
{
    min-width: 100%;
}

.inner_left
{
    padding: 0;
    width: 96.5%;
    float: left;
    background: #dee4e5;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px #999;
}
.new-inner_left
{
    padding: 0;
    width: 100%;
    float: left;
    background: #48a844;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px #999;
}

.offer_img
{
    width: 100%;
    float: left;
    margin: 10px 0 0 0;
    padding: 0 0 0 20%;
    text-align: right;
}

.main-afghanistan
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/afghanistan-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-albania
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/albania-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-algeria
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/algeria-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-austria
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/austria-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-bosnia
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/bosnia-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-brazil
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/brazil-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-bulgaria
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/bulgaria-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-czech
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/czech-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-egypt
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/egypt-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-ethiopia
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/ethiopia-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-germany
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/germany-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-ghana
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/ghana-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-hungary
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/hungary-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-iran
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/iran-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-lithuania
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/lithuania-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-malaysia
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/malaysia-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-maritius
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/maritius-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-nepal
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/nepal-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-nigeria
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/nigeria-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-pakistan
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/pakistan-web.png") no-repeat left bottom scroll #6dbbe1;
    display: block;
    background-size: 670px;
}
.main-bang
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/pakistan-web.png") no-repeat left bottom scroll #6dbbe1;
    display: block;
    background-size: 670px;
}
.main-poland
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/poland-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}
.main-China
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/china-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}
.main-India
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/india-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}
.main-All
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/All-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}
.main-romania
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/romania-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-russia
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/russia-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-saudiarabia
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/saudiarabia-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-slovakia
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/slovakia-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-syria
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/syria-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-thailand
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/thailand-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-turkey
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/turkey-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-uae
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/uae-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-vietnam
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/vietnam-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-philippines
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/philippines-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
}

.main-srilanka
{
    padding: 0 0 0px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/lps/img-lp/flags/srilanka-web.png") no-repeat left bottom scroll #6e5ca8;
    display: block;
    background-size: 670px;
    border:1px solid #eaeaea;
}

.inner_left_sub
{
    padding: 0 0 20px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/allinone/images/lp_bg.jpg") no-repeat scroll #f5f5f5;
    display: block;
    background-size: 60%;
    background-position: -50px top;
}

.inner_left_india
{
    padding: 0 0 20px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/allinone/images/lp_india.jpg") no-repeat scroll #f5f5f5;
    display: block;
    background-size: 50%;
    background-position: 20px bottom;
}

.inner_left_bangladesh
{
    padding: 100px 40px 20px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/allinone/images/lp_bangladesh.jpg") no-repeat scroll #f5f5f5;
    display: block;
    background-size: 47%;
    background-position: 20px top;
}

.inner_left_srilanka
{
    padding: 100px 40px 20px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/allinone/images/lp_srilanka.jpg") no-repeat scroll #f5f5f5;
    display: block;
    background-size: 47%;
    background-position: 20px top;
    height: auto;
}

.inner_left_philippines
{
    padding: 100px 40px 20px 0;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 10px;
    background: url("/allinone/images/lp_philippines.jpg") no-repeat scroll #f5f5f5;
    display: block;
    background-size: 47%;
    background-position: 20px top;
    height: auto;
}

.yellow-bg h1
{
    font-size: 35px;
    color: #003864;
    margin: 0;
    line-height: 30px;
    text-align: left;
    padding: 10px 0 0 0;
}


.show3
{
    background: url("/allinone/images/allinone.png") no-repeat scroll 38% 30px #ebebeb;
    display: block;
    padding: 0 0 0 0;
    float: left;
    width: 100%;
}

.show4
{
    background: url("/allinone/images/allinone2.png") no-repeat scroll 50px bottom;
    display: block;
    padding: 0 0 0 0;
    float: left;
    width: 100%;
}

.show5
{
    display: block;
    padding: 0 0 0 0;
    float: left;
    width: 100%;
}

.show6
{
    display: block;
    padding: 0 50px;
    margin: 0;
    float: left;
    width: 50%;
}

.show61
{
    background: #00adef;
    padding: 5px 5px;
    border-radius: 10px;
    margin: 10px 0;
    display: block;
    border: 3px solid #fff;
    float: left;
    width: 100%;
}

.show61 h2
{
    color: #fff;
    font-size: 35px;
    line-height: 30px;
    margin: 0;
    padding: 10px 0 0;
    text-align: center;
}

.show61 h3
{
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}


.show7
{
    background: #fff;
    padding: 5px 5px;
    border-radius: 10px;
    margin: 10px 0;
    display: block;
    border: 3px solid #fff;
    height: 100px;
    float: left;
    width: 100%;
}

.show7 h2
{
    color: #003864;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding: 10px 0 10px;
    text-align: center;
}

.show72
{
    background: #fff;
    padding: 5px 5px;
    border-radius: 10px;
    margin: 10px 0;
    display: block;
    border: 3px solid #fff;
    height: 100px;
    float: left;
    width: 100%;
}

.show72 h2
{
    color: #003864;
    font-size: 30px;
    line-height: 60px;
    margin: 0;
    padding: 10px 0 10px;
    text-align: center;
}

.show71
{
    background: #fff;
    padding: 5px 5px;
    border-radius: 10px;
    margin: 10px 0;
    display: block;
    border: 3px solid #fff;
    float: left;
    width: 100%;
}

.show71 h2
{
    color: #003864;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding: 10px 0 10px;
    text-align: center;
}

.imgshow6
{
    display: block;
    margin: -40px -30px -40px 0;
    float: right;
    position: relative;
    z-index: 1000;
}



.inner_grey
{
    padding: 0 0 20px 0;
    width: 100%;
    float: left;
    margin: 0;
    background: #f5f5f5;
    display: none;
}

.inner_50
{
    padding: 0 20px;
    width: 50%;
    float: left;
    margin: 0;
}

.inner_50 h2
{
    color: #003864;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0 10px 20px;
    text-align: center;
    width: 100%;
    display: block;
}

.inner_left_sub2
{
    padding: 0 20px;
    width: 100%;
    float: left;
    margin: 0;
    display: block;
}

.inner_left_sub2 h2
{
    width: 100%;
    color: #0F4979;
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 20px 0px;
    text-align: center;
    padding: 0;
}

.inner_content_blue
{
    padding: 20px;
    width: 31.5%;
    float: left;
    border: 2px solid #635394;
    border-radius: 10px;
    margin: 0;
    display: block;
}

.inner_content_blue h4
{
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    margin: 0% 0 0;
    text-align: center;
    width: 100%;
}

.inner_content_blue h5
{
    color: #635394;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 1% 0 4% 0;
    text-align: center;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid #635394;
}

.backnone
{
    width: 100%;
    float: left;
}

.backnone1
{
    width: 100%;
    float: left;
    background: none;
}

.backnone1 h1
{
    float:left;
    color:#0f4979;
    font-size:22px
    }
.inner_content_blue ul
{
    margin: 0;
    padding: 0;
}
.inner_content_blue ul li
{
    float: left;
    list-style: none outside none;
    padding: 2% 0;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #635394;
    font-size: 15px;
}

.inner_content_grey
{
    padding: 20px;
    width: 31.5%;
    float: left;
    border: 2px solid #b2b5b4;
    border-radius: 10px;
    margin: 0 0 0 2%;
}

.inner_content_grey h4
{
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    margin: 0% 0 0;
    text-align: center;
    width: 100%;
}

.inner_content_grey h5
{
    color: #00aeef;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 1% 0 4% 0;
    margin: 0;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #b2b5b4;
}

.inner_content_grey ul
{
    margin: 0;
    padding: 0;
}
.inner_content_grey ul li
{
    float: left;
    list-style: none outside none;
    padding: 2% 0;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #b2b5b4;
    font-size: 15px;
}

.blue-bg, .blue-bg-1
{
    background: #00adef;
    padding: 5px 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin: 15px;
    display: block;
}

#Common
{
    position: relative;
    top: 10px;
    right: 0;
    float: left;
}

.form-box, .new-form-box
{
    float: right;
    width: 45%;
    margin: 0px 0px 0 0px;
    background: #f5f5f5;
    clear: both;
    padding: 20px;
}
.new-form-box
{
    float: right;
    width: 448px;
    margin: 0px 0px 0 0px;
    background: #f5f5f5;
    clear: both;
    padding: 20px;
}
.main-China .form-box
{
    width:50%
    }
.fullfieldv2
{
    width: 100%;
    float: left;
}


.fullfieldv2 h1
{
    width: 70%;
    color: #0F4979;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0 0px 0px;
    text-align: center;
    padding: 0;
}

.fullfieldv2 h2
{
    width: 70%;
    color: #0F4979;
    float: right;
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0 0px 0px;
    text-align: center;
    padding: 0;
}

.tr_main
{
    padding: 2px 0;
    float: left;
    width: 100%;
}

.tr_label
{
    color: #000;
    float: left;
    font-size: 15px;
    font-weight: normal;
    margin: 7px 10px 0 0px;
    width: 32%;
    text-align: right;
    line-height: 32px;
}

.tr_input
{
    color: #000;
    float: left;
    font-size: 15px;
    font-weight: normal;
    margin: 7px 0px 0 10px;
    width: 62%;
    text-align: left;
}

.landingInputLong
{
    border: 1px solid;
    line-height: 20px;
    width: 100%;
    height: 35px;
    border: 1px solid #c9cbcd;
    border-radius: 7px;
    font-size: 13px;
    font-weight: bold;
    padding-left: 7px;
    color: #878888;
    float: left;
}

.landingInputLong2
{
    border: 1px solid;
    line-height: 20px;
    width: 45%;
    height: 35px;
    border: 1px solid #c9cbcd;
    border-radius: 7px;
    font-size: 13px;
    font-weight: bold;
    padding-left: 7px;
    color: #878888;
    float: left;
}



.SecondFooter
{
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    width: 100%;
    margin:20px 0 0 0;
}


.SecondFooter h1
{
    background: none repeat scroll 0 0 #10B4F2;
    color: #FFFFFF;
    font-size: 26px;
    line-height: 40px;
    text-align: center;
}

.SecondFooter span
{
    color: #00426e;
    float: left;
    font-size: 15px;
    margin: 5px 0 0 100px;
}

.SecondFooter p a
{
    color: #00426e;
    float: left;
    font-size: 15px;
    margin: 5px 0 0 0px;
}

.SecondFooter ul
{
    float: left;
    margin: 0 0 20px 45px;
    padding: 0;
    clear: both;
}

.SecondFooter ul li
{
    color: #5f5f5f;
    font-size: 15px;
    margin: 5px 0px 0;
    text-align: left;
    padding: 0;
}



.SecondFooter p
{
    color: #5F5F5F;
    font-size: 15px;
    margin: 10px 30px 15px 20px;
    text-align: left;
    float: left;
}

.footer
{
    width: 100%;
    padding-bottom: 20px;
    text-align: right;
    float: left;
    background: #fff;
}

.footer_boxes1
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #6E5CA8;
    float: left;
    text-align: center;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}

.display_none
{
    display: block;
}

.display_none2
{
    display: block;
}
.footer_boxes1 p
{
    text-align: left;
    font-size: 13px;
    color: #5f5f5f;
}

.footer_boxes
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #6E5CA8;
    border-bottom: 1px solid #6E5CA8;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}



img
{
    border: none;
    max-width: 100%;
}
a
{
    text-decoration: none;
    color: #F8A811;
}

a
{
    color: #00426e;
    text-decoration: none;
}

.footer span
{
    margin: 10px 0px 10px 20px;
    color: #5f5f5f;
    font-size: 13px;
    font-family: Arial;
    width: 70%;
    float: left;
    text-align: left;
    display: block;
}

.footerbox_right
{
    color: #5F5F5F;
    float: right;
    margin: 10px 20px 0 0;
    font-size: 13px;
    text-align: right;
    width: 25%;
}


.main
{
    width: 1160px;
    margin: 0px auto;
    background: #fff;
}


.radiobuttondiv
{
    width: 60%;
    float: right;
    margin: 0px 0 0 20px;
    padding: 0px;
}


.LeftImg
{
    max-width: 459px;
    width: 100%;
}


.input_error
{
    background: #7051a2;
    padding: 3px 2px 6px 3px;
    color: #ffffff;
    font-weight: bold;
    display: block;
}

.check-box-center input
{
    vertical-align: middle;
    margin-right: 5px;
}

.float-left, .fleft
{
    width: auto;
    float: left;
}

.float-right, .frite
{
    width: auto;
    float: right;
}

.clear
{
    clear: both;
}



.tnc
{
    margin-left: 104px;
    color: #193E6B;
    font-size: 10px;
}

.tnc a:hover
{
    text-decoration: underline;
    color: #F8A811;
}


.btnsave:hover
{
    background-position: bottom left;
}

.tr
{
    padding-top: 5px;
}

.msgErr
{
    clear: both;
    color: #FF0000;
    display: block;
    float: left;
    font-weight: bold;
    margin-left: 20px;
    margin-top: -10px;
}


input, select
{
    outline: none;
}




.footer_right
{
    width: 200px;
    float: right;
    color: #5f5f5f;
    margin-right: 20px;
}



.new_field_main_normal
{
    display: block;
}

.new_field_main_none
{
    display: none;
}


.new_field_main
{
    display: block;
    float: left;
    margin: 5px 5px 5px 0;
    width: 925px;
}

.entermenuselect
{
    display: block;
    float: left;
    font-size: 13px;
    font-weight: normal;
    margin-left: 147px;
    padding-left: 0;
    padding-top: 10px;
    text-align: left;
    width: 200px;
}

#btnValidate
{
    border: medium none;
    color: #00438D !important;
    cursor: pointer;
    float: right;
    font-size: 12px !important;
    font-weight: bold;
    height: 25px;
    margin-right: 80px;
    margin-top: 5px;
    padding: 0 0 3px;
    text-align: center;
    width: 54px;
}

.select_button
{
    background: url("../img-web/Buttons/select.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}


.new_box_commmon
{
    color: #01437D;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
    padding: 0;
    width: 482px;
}

#btnFind
{
    background: #0F4979;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 33px;
    margin: 0 0 0 10px;
    padding: 0 0 3px;
    text-align: center;
    width: 50%;
    border-radius: 7px;
}
.entermenu
{
    clear: both;
    display: block;
    font-size: 13px;
    font-weight: normal;
    margin-left: 280px;
    margin-top: 0;
}
#btnManual
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #01437D;
    cursor: pointer;
    text-decoration: underline;
}







.lpukcs_tnc
{
    font-size: 11px;
    line-height: 16px;
    margin-left: 111px;
    text-align: left;
    width: 414px !important;
    padding: 5px 0;
}


#Order1_btnProceed
{
    background: #0f4979;
    display: block;
    float: left;
    height: 43px;
    width: 100%;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 18px;
}

.errMsg
{
    color: #ff0000;
    display: block;
    float: left;
    font-size: 12px;
    text-align: left;
    clear: both;
}
.landsubmitbutton
{ background: none repeat scroll 0 0 #0f4979;
    border: medium none;
    border-radius: 18px;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 43px;
    margin: 0;
    width: 100%;
}
.footer-logo
{
    text-align:center;
    border-top: 1px solid #6e5ca8;
    clear:both;
    padding:10px 0
    }
 .footer-logo p
 {
     text-align:left;
     font-size:15px;
     margin-top:0
     }


.btn-lp-proceed_br {
    background:url("../img-lp/bu_bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border:3px solid #fddc01;
    border-radius: 15px;
    color: #19479f;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 49px;
    margin: 0 0 25px;
    width: 100%;
    line-height:43px;
    text-align:center
    
}
.btn-lp-proceed_br:hover
{
    text-decoration:none;
        color: #19479f;
    }
    .box1 h2
    {
        color:#029fe4;
            margin: 0 0 15px;
        }
        .lp_leftimg img
        {
            border-radius: 10px 0 0;
            }


.errormsg{
    background: url("/images/common/error.png") no-repeat scroll left 10px rgba(0, 0, 0, 0);
    clear: both;
    color: #ff0000;
    display: block;
    float: left;
    font-size: 11px;
    height: 32px;
    line-height: 24px;
    margin: 0;
    padding: 8px 0 0 25px;
    width: 100%;
}