﻿@media only screen and (min-width:10px) and (max-width:479px)
{

    .show3
    {
        background: url("/allinone/images/allinone.png") no-repeat scroll center 98% #ebebeb;
        background-size: 280px;
        display: block;
        padding: 0 0 380px 0;
        float: left;
        width: 100%;
    }
    
    .main-afghanistan
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-albania
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-algeria
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-austria
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-bosnia
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-brazil
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-bulgaria
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-czech
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-egypt
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-ethiopia
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-germany
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-ghana
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-hungary
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-iran
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-lithuania
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-malaysia
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-maritius
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-nepal
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-nigeria
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-pakistan
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    .main-bang
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: #F5F5F5;
        background-size: 100%;
    }
    
    .main-poland, .main-China, .main-India, .main-All
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
      .main-China .form-box,  .main-India .form-box, .main-All .form-box
    {
        width:100%
        }
    .cPurpleimg
    {
        margin:0 0 0 270px;
        position:absolute;
        display:none;
    }
    
    .main-romania
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-russia
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-saudiarabia
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-slovakia
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-syria
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-thailand
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-turkey
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-uae
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-vietnam
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-philippines
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;
    }
    
    .main-srilanka
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: none;
        background-size: 100%;

    }

    .show4
    {
        background: none;
    }

    .show5
    {
        display: block;
        padding: 0 0 0 0;
        float: left;
        width: 100%;
    }

    .show6
    {
        display: block;
        padding: 0 30px;
        margin: 0;
        float: left;
        width: 100%;
    }

    .show61
    {
        background: #00adef;
        padding: 5px 5px;
        border-radius: 10px;
        margin: 30px 0 10px 0;
        display: block;
        border: 3px solid #fff;
        float: left;
        width: 100%;
    }

    .show61 h2
    {
        color: #fff;
        font-size: 24px;
        line-height: 24px;
        margin: 0;
        padding: 10px 0 0;
        text-align: center;
    }

    .show61 h3
    {
        color: #fff;
        font-size: 15px;
        line-height: 20px;
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }


    .show7
    {
        background: #fff;
        padding: 5px 5px;
        border-radius: 10px;
        margin: 10px 0;
        display: block;
        border: 3px solid #fff;
        height: 80px;
        float: left;
        width: 100%;
    }

    .show7 h2
    {
        color: #003864;
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        padding: 10px 0 10px;
        text-align: center;
    }

    .show72
    {
        background: #fff;
        padding: 5px 5px;
        border-radius: 10px;
        margin: 10px 0;
        display: block;
        border: 3px solid #fff;
        height: 80px;
        float: left;
        width: 100%;
    }

    .show72 h2
    {
        color: #003864;
        font-size: 18px;
        line-height: 40px;
        margin: 0;
        padding: 10px 0 10px;
        text-align: center;
    }

    .show71
    {
        background: #fff;
        padding: 5px 5px;
        border-radius: 10px;
        margin: 10px 0;
        display: block;
        border: 3px solid #fff;
        float: left;
        width: 100%;
    }

    .show71 h2
    {
        color: #003864;
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        padding: 10px 0 10px;
        text-align: center;
    }

    .imgshow6
    {
        display: block;
        margin: -40px -30px -40px 0;
        float: right;
        position: relative;
        z-index: 1000;
    }

    .show2
    {
        display: block;
        padding: 0 0 0 0;
        float: left;
        width: 100%;
    }



    .show2 ul
    {
        display: block;
        padding: 10px 0 0 20px;
        float: left;
        width: 100%;
    }

    .show2 ul li
    {
        padding: 0 5px 20px 0;
        float: left;
        list-style: none;
        width: 30%;
    }

    .show2 ul li div
    {
        padding: 20px 0 0px 0;
        float: left;
        list-style: none;
        width: 100%;
        font-size: 13px;
        color: #0f4979;
    }

    .show2 ul li p
    {
        display: block;
        margin: 0;
        padding: 0 0 0 0;
        float: left;
        font-size: 10px;
        color: #000;
        width: 100%;
    }

    .show2 ul li span
    {
        display: block;
        padding: 0 0 0 0;
        margin: 0;
        float: left;
        font-size: 10px;
        color: #00adef;
        width: 100%;
    }

    .Common2
    {
        width: 45%;
        float: left;
        padding: 30px 0 0 20px;
        margin: 0;
    }

    .Common2 img
    {
    }

    .Common21
    {
        width: 55%;
        float: left;
        padding: 0;
        margin: 0;
    }

    .Common21 img
    {
        margin: 70px 0 0 0;
    }

    .blue-bg, .blue-bg-1
    {
        background: #00adef;
        padding: 5px 5px;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        border-radius: 10px;
        margin: 15px;
        display: block;
    }

    .main
    {
        background: none repeat scroll 0 0 #fff;
        margin: 0 auto;
        width: 100%;
    }

    .radiobuttondiv .box1
    {
        width: 45%;
        position: relative;
        float: left;
        margin: 20px 0px 0 2%;
        padding: 0px;
    }
    .radiobuttondiv .box1 input
    {
        float: left;
        margin: 0px 0 0 60px;
        clear: both;
    }
    .radiobuttondiv .box1 img
    {
        margin: 0px 0 0 50px;
        clear: both;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        float: left;
    }

    .radiobuttondiv .box1 p
    {
        margin: 0px;
        padding: 2px 0;
        clear: both;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: #193E6B;
    }

    .radiobuttondiv .box2
    {
        width: 45%;
        position: relative;
        float: left;
        margin: 50px 0px 0 0;
        padding: 0px;
    }
    .radiobuttondiv .box2 input
    {
        float: left;
        margin: 0px 0 0 60px;
        clear: both;
    }
    .radiobuttondiv .box2 img
    {
        margin: 0px 0 0 50px;
        clear: both;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        float: left;
    }

    .radiobuttondiv .box2 p
    {
        margin: 0px;
        padding: 2px 0;
        clear: both;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: #193E6B;
    }


    .inner_50
    {
        padding: 0 20px;
        width: 100%;
        margin: 0;
    }

    .inner_50 h2
    {
        font-size: 20px;
        margin: 15px 0 10px 0px;
    }

    .new_grid_bg2
    {
        float: left;
        width: 90%;
        margin: 15px 0px 0px 20px;
    }
 .new-main .new_grid_bg2
    {
        float: right;
        width: auto;
        margin: 0 10px 0px 10px;
        clear:both
    }
    .img
    {
        display: block;
           border-radius:0 0 10px 10px;
    }

    .new_grid_bg2 img
    {
        width: 15%;
        float: left;
        margin: 0px 20px 0 0px;
    }
 .new-main .new_grid_bg2 img
    {
        width: 70px;
        float: left;
        margin: 0px 10px 0 0px;
    }
    .new_grid_bg2 h2
    {
        font-size: 13px;
         margin: 16px 0 0;
        display: none;
    }

    .new_free_content_grey
    {
        float: left;
        margin: 0 0 0% 0;
        padding: 0 15px;
        width: 100%;
        display: block;
    }



    .new_free_content_grey h2
    {
        color: #003864;
        font-family: Arial;
        font-size: 28px;
        font-weight: bold;
        margin: 0 0 0px 0;
        text-align: left;
        width: 100%;
    }

    .inner_grey
    {
        padding: 10px 10px;
        width: 100%;
        float: left;
        margin: 10px 0 0 0;
        background: #ebebec;
        display: block;
        text-align: left;
    }

    .header
    {
        height: 130px;
        margin: 0 0 10px 0;
        border-bottom: 1px solid #6f5cab;
    }
    .new-main .header
    {
        height:85px
        }
    .grid_bg
    {
        float: right;
        width: 30%;
        margin: 10px 0px 0px 10px;
    }
.new-main .grid_bg {
    float: left;
    height: 38px;
    margin: 10px 15px 0 10px;
    width: 100px;
}
    .grid_bg2
    {
        float: right;
        width: 30%;
        margin: 20px 0px 0px 20px;
    }

    .grid_bg2 img
    {
        max-width: 30%;
    }

    .free_content_grey21
    {
        display: none;
    }

    .free_content_grey2
    {
        margin: 0 0 0px;
        padding: 0;
        width: 50%;
    }

    .free_content_grey2 h4
    {
        font-size: 15px;
        margin: 2px 0 0;
    }

    .free_content_grey2 h5
    {
        font-size: 11px;
        margin: 0;
        padding: 0;
        width: 94%;
    }

    .free_content_grey h2
    {
        font-size: 22px;
    }

    .inner_content_blue
    {
        display: none;
    }

    .inner_content_grey
    {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .offer_img
    {
        margin: 10px 0 0 0;
        padding: 0 0 0 0%;
        text-align: right;
    }

    .form-box
    {
        float: right;
        width: 100%;
        margin: 0px 0px 0px 0px;
        border-radius: 10px 10px 0px 0px;
    }



    .backnone
    {
        width: 60%;
        float: right;
    }

    .backnone1
    {
        width: 100%;
        float: left;
    }

    .radiobuttondiv
    {
        width: 100%;
        float: right;
        margin: 0px 0 0 0px;
        padding: 0px;
    }



    .tr_label
    {
        margin: 7px 10px 0 10px;
        width: 94%;
        text-align: left;
    }

    .inner_left_sub2
    {
        padding: 0 10px;
    }

    .free_content_grey
    {
        padding: 0 10px;
    }

    .tr_input
    {
        margin: 7px 0px 0 10px;
        width: 94%;
    }

    .inner_left
    {
        padding: 0;
        width: 95%;
        margin: 5px 10px 10px 10px;
        box-shadow: 5px 5px 5px 0px #999;
    }


    .fullfieldv2 h1
    {
        font-size: 13px;
        margin: 0px 0 0px 0px;
        width: 100%;
    }

    .fullfieldv2 h2
    {
        width: 100%;
        font-size: 18px;
    }

    .footer span
    {
        margin: 0px 0px 0px 20px;
        color: #5f5f5f;
        font-size: 13px;
        font-family: Arial;
        width: 70%;
        float: left;
        text-align: left;
        display: none;
    }

    .footerbox_right
    {
        color: #fff;
        float: right;
        margin: 0px 0px 0 0;
        font-size: 13px;
        text-align: center;
        width: 100%;
    }

    .footer_boxes
    {
        background: none repeat scroll 0 0 #00426d;
        border-top: 1px solid #00426d;
        border-bottom: 1px solid #00426d;
        float: left;
        width: 100%;
        margin: 10px 0 0 0;
        padding: 10px 0;
    }

    .SecondFooter p
    {
        margin: 10px 30px 15px 10px;
    }

    .footer_boxes1
    {
        width: 100%;
        margin: 0 0 10px 0;
        padding: 0 10px 0px 10px;
    }

    .display_none
    {
        display: none;
    }

    .display_none2
    {
        display: none;
    }
    .show
    {
        display: block;
        padding: 0 0 0 4%;
    }
    .left-side
    {
        width: 20%;
        float: left;
    }




    #newbackground h1
    {
        font-size: 30px;
        color: #003864;
        float: left;
        margin: 50px 0 5% 0;
    }
    #newbackground .form-box
    {
        clear: none;
    }
    .center
    {
        margin: 0 auto;
    }
    .height-1
    {
        height: auto;
    }
    .height-1 img
    {
        position: absolute;
        bottom: 0;
    }
    .yellow-bg
    {
        background: none repeat scroll 0 0 #fbba00;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 0 #999;
        margin: 10px;
        overflow: hidden;
        padding: 20px 0;
        width: 94.5%;
    }
    .border-dot
    {
        border-right: 1px dotted #000;
    }
    .yellow-bg .show
    {
        padding: 0 2%;
    }
    .yellow-bg .col-lg-4
    {
        padding-left: 0;
        width: 100%;
    }
    .yellow-bg .col-lg-6
    {
        float: right;
    }
    .yellow-bg h1
    {
        color: #003864;
        font-size: 20px;
        line-height: 30px;
        margin: 0 0 7px 0;
    }
    .blue-bg-1 .col-lg-6, .white-bg .col-lg-6 .col-lg-6
    {
        float: left;
    }
    .yellow-bg .white-bg .col-lg-6
    {
        border-left: 1px dotted #000;
        padding: 5px 0;
    }
    .yellow-bg .white-bg .col-lg-4
    {
        padding: 0 15px;
        width: 40%;
    }
    .yellow-bg .white-bg h5
    {
        font-size: 15px;
        color: #003864;
        margin: 0;
        padding: 10px 0 0 0;
    }
    .yellow-bg .white-bg
    {
        background: #fff;
        border-radius: 10px;
        padding: 0 0;
        float: left;
        width: 100%;
        margin-top: 12px;
    }

    .blue-bg-1
    {
        width: 100%;
        border: 3px solid #fff;
        float: left;
        padding: 12px 0;
        margin: 0;
        font-size: 15px;
    }

    #newbackground .smartdiv
    {
        clear: both;
        float: left;
        margin: 15px auto;
        text-align: center;
        width: 50%;
    }
    #newbackground .smart
    {
        float: left;
        margin: 15px auto;
        text-align: center;
        width: 50%;
    }

    #newbackground
    {
        background: #ebebeb;
    }


    #newbackgroundplue
    {
        padding: 0;
    }



    #bangnew
    {
        background: url("/allinone/images/bangladesh2.png") no-repeat scroll center 10px;
        background-size: 100%;
        height: auto;
    }

    #newbackgroundplue2
    {
        margin: 87% 0px 0 0;
        padding: 20px 20px 20px 0;
        border-radius: 0px 0px 10px 10px;
    }

    .new_grid_bg12
    {
        float: right;
        width: 60%;
        margin: 30px 0px 0px 0px;
    }

    .new_grid_bg12 img
    {
        float: right;
        margin: -25px 10px 0 0px;
        width: 80px;
    }

    .new_grid_bg12 h2
    {
        font-size: 11px;
        margin: -3px 30px 0 0px;
        text-align: right;
        width: 95%;
    }

    .col-lg-6
    {
        width: 50%;
        float: left;
    }
    .col-lg-4
    {
        width: 33.3333%;
        float: left;
    }


    .display-pc
    {
        display: block;
    }
    #newbackground .col-lg-6:nth-child(1)
    {
        width: 50%;
    }
    #newbackground .col-lg-6 .show .col-lg-6
    {
        width: 100%;
    }

    #newbackground .form-box
    {
        border-top: 1px solid #999;
        padding-bottom: 25px;
    }
    #newbackground .backnone
    {
        width: 100%;
    }
    #newbackground .fullfieldv2 h2
    {
        margin-top: 10px;
    }
    #width-1
    {
        width: 64%;
    }
    .display-mobile
    {
        display: block;
    }
    #width-2
    {
        width: 60%;
        padding: 0;
    }

    #width-2 h5
    {
        padding: 0;
    }
    #newbackground .col-lg-6 .show .col-lg-6 img
    {
        max-width: 58%;
    }
    #Common
    {
        padding: 25px 0 0;
    }

    #Common img
    {
        width: 50%;
    }
    .offerimg
    {
        display:none;
    }

    .new-form-box
    {
        width:100%;
        border-radius:10px 10px 0 0;
        }
    .new-inner_left
    {
        width:94%;
        margin:10px 3%
        }
     .mobil-w1
    {
        width:40px
        }
        .mobil-w2
    {
        width:70%
        }
      .backnone1 h1 {
    color: #0f4979;
    float: left;
    font-size:16px;
}
       .footer-logo
{
    text-align:center;
    border-top: 1px solid #6e5ca8;
    clear:both;
    padding:10px 0;
    margin:0 10px
    }
 .footer-logo p
 {
     text-align:left;
     font-size:12px;
     margin-top:0
     }
     .All-India .mob-adj1 {
    margin: 2px 10px 0 0;
    text-align: right;
    width: 64px;
}
.All-India .mob-adj2 {
    margin: 2px 0 0 10px;
    width: 69%;
}
.main-box 
{
    display:none
    }
    
               .Lp-container
    {
        width:95%;
        margin:0 auto;
        background:#fff;
        }
        
    .Lp-Header
    {
        height:86px;
        }
   .Lp-Logo
   {
       float:left;
       }
   .Lp-Logo img
   {
       width:120px;
       margin-top:19px
   
       }
   .Lp-mar20
   {
     
       margin-bottom:20px
       }
   .Lp-purplebg
   {
       background:#48a844;
       height:86px;
       padding:20px 0
       }
   .Lp-radius
   {
       border-radius:15px
       }
    .bar-1,.bar-2,.bar-3
    {
        float:left
        }
   .bar-1
   {
       width:40%;
       }
      .bar-2
   {
       width:23%;
       border-right:2px dotted #Fff;
       border-left:2px dotted #Fff;
       height:47px;
       margin-left:15px
       }
   .bar-3
   {
       width:30%;
       padding-left:10px
       }
   .Lp-purplebg h1
   {
     
       color:#fff;
       margin:0;
       font-size:12px
       }
   .bar-1
   {
    padding: 0 0 0 25px
       }
   .Lp-purplebg span
   {
       font-size:12px;
       color:#fff
       }
    .bar-2 h1, .bar-3 h1
    {
        text-align:center;
        color:#fff;
        margin:0
        }
    .bar-2 span, .bar-3 span
    {
        text-align:center;
        display:block;
        padding:6px 0 0 0;
        font-size:14px
        }
   .bar-3 h1
   {
       text-align:center
       }
   .Lp-Image
   {
       overflow:hidden
       }
   .Lp-content
   {
       border:1px solid #c9c9c9;
       background:#fff;
       overflow:hidden
       }
   .Lp-div-1
   {
       width:100%;
       float:left;
       background:#ebebeb;
       border-bottom:1px solid #c9c9c9;
       border-radius:15px
       }
   .Lp-container .fullfieldv2
   {
       padding:15px 15px 30px;
       width:100%;
  
       }
    .Lp-container .fullfieldv2 h2
    {
        float:left;
        text-align:left
        }
    .Lp-container #order_btnProceed
     {
         border-radius: 10px;
           background: none repeat scroll 0 0 #0f4979;
    border: medium none;
    border-radius: 18px;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 43px;
    margin: 0;
    width: 100%;
         }
     .Lp-div-2
     {
         width:100%;
         float:left;
         margin-left:10px
         }
         .free_sim_right_sub {
    display: block;
    float: left;
    margin: 15px 10px 0 0;
    padding: 0;
    text-align: center;
    width: 80px;
}
.free_sim_right_sub2 {
    display: block;
    float: left;
    margin: 20px 0;
    padding: 0;
    text-align: left;
    width: 65%;
    font-size:12px;
    color:#646464
}
.free_sim_right_sub2 strong
{
    font-size:15px;
    color:#000
    }
 .Lp-div-sub
 {
     border-bottom:1px solid #c9c9c9;
     float:left;
     padding:20px 0;
     width:100%
     }
 .free_sim_right_sub img
 {
     max-width:78px;
     }
     .Lp-container .radiobuttondiv .box1
     {
         margin-left:0%
         }
     .Lp-width-full
     {
         width:100%
         }
          .Lp-display-mobile
 {
     display:none
     }
      .Lp-display-mobile1
 {
     display:block
     }

         .Lp-container .tr_input
         {
                margin: 7px 0 0;
    width: 100%;
             }
             .Lp-container .tr_label {
    margin: 7px 10px 0 0;
    text-align: left;
    width: 100%;
}
.LP-DIV
{
    margin:0 10px
    
    }
.Lp-container .radiobuttondiv .box1 img, .Lp-container .radiobuttondiv .box2 img
{
    float:none;
    margin-left:0
    }
    .Lp-container .radiobuttondiv .box1 input, .Lp-container .radiobuttondiv .box2 input
    {
        float:none;
    margin-left:0
        }
             .Lp-container .radiobuttondiv .box1, .Lp-container .radiobuttondiv .box2
     {
         width:50%;
         text-align:center
         }
         .Lp-container .mob-adj1 {
    margin: 2px 10px 0 0;
    text-align: right;
    width: 64px;
}
.Lp-container .mob-adj2 {
    margin: 2px 0 0 10px;
    width: 69%;
}
}

