﻿body
{
     background:#c9eab3 url("/img-lp/bg.png") repeat-x;
    font-size: 15px;
    color: #000;
}
*
{
    margin: 0;
    padding: 0;
}
.main-container
{
    width:965px;
    margin:0 auto
    }
.green_bg
{
    background:#71c82c;
    overflow:hidden
    }
.header
{
    height:124px;
    }
.logo
{
    width:418px;
    background:#fea500;
    height:124px;
    float:left
    }
.logoimg
{
    margin:0;
    padding:16px 0 0 0
    }
.l_text
{
    float:left;
    
    }
h2
{
    font-size:26px;
    color:#fff;
    display:inline-block;
    float:left;
    width:368px;
    font-weight:normal;
    text-align:center;
    padding-top:21px
    }
h2.poland
{
    font-size:22px
    }
.l_text h2 span
{
    float:left;
    padding-left:10px;
    text-transform: uppercase;
    text-align:left
    }
.arrow-down {
     border-left: 0 solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid #fff;
    float: right;
    height: 0;
    margin-right: 23px;
    margin-top: 31px;
    width: 0;
}
h3
{
     color: #0045a2;
    float: left;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin-left: -10px;
    padding: 42px 0 0;
    }
h3.poland
{
    font-size:17px
    }
 h4
 {
     font-size:100px;
    color:#0045a2;
    float:left;
    margin-left:0
     }
 h4 span
{
     color: #0045a2;
    font-size: 70px;
    font-weight: normal;
    margin-left: -40px;
    }
.new-form-box
{
    background:#ebebeb;
    float:left;
    width:418px;
    padding-bottom:20px
    }
.landingInputLong {
    border: 1px solid #c9cbcd;
    border-radius: 7px;
    color: #878888;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 35px;
    line-height: 20px;
    padding-left: 7px;
    width: 100%;
}
.new-form-box .tr_input {
    margin: 7px 0 0 10px;
    width: 68%;
}
.new-form-box .tr_label {
    margin: 7px 10px 0 0;
    text-align: right;
    width: 22%;
}
.tr_label {
    color: #000;
    font-size: 15px;
    font-weight: normal;
    line-height: 32px;
    text-align: right;
    float:left
}
.tr_input {
    color: #000;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    float:left
}
.tr_main {
    float: left;
    padding: 2px 0;
    width: 100%;
}
.new-form-box .tr_label {
    margin: 7px 10px 0 0;
    text-align: right;
    width: 25%;
}
.new-form-box .tr_input {
    margin: 7px 0 0 10px;
    width: 62%;
}
.box1 h2 {
    color: #0244a2;
    margin: 0 0 15px;
    text-align:left;
    padding:0;
    font-weight:600;
    font-size: 20px;
    width:auto
}
.control
{
    padding:10px 30px;
    font-size:12px
    }
.btn-lp-proceed_br
{
    background: #ffb900 none repeat scroll 0 0;
    display: block;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
    width: 100%;
    }
.btn-lp-proceed_br:hover
{
    text-decoration:none
    }
.main-box
{
    float:left;
    width:547px
    }
.yellowbg
{
    width:100%;
    background:#ffb900;
    overflow:hidden;
    padding:40px 20px
    }
.downarrowy
{
    background:url("/img-lp/downarrowy.png") no-repeat  center top;
    margin-top:-2px;
    color:#0244a5;
    padding:50px 0 0 0
   
    }
.border-t
{
     border-top:2px solid #fef8ec
    }
.downarrowy strong
{
    display:block;
    padding-bottom:10px
    
    }
.footer
{
    width:100%;
    padding:10px 0;
    background:#0045a2;
    color:#fff;
    overflow:hidden;
    font-size:14px
    }
 .terms
 {
     padding:0 50px 0 0;
     float:left;
 }
 .powered
 {
     float:left
     }
 .copyright
 {
     float:right
     }
 .powered a, .powered a:hover
 {
     color:#fff !important;
     text-decoration:none
     }
         .modalBackground
        {
            background-color: Black;
            filter: alpha(opacity=90);
            opacity: 0.8;
            overflow: hidden;
        }
        .modalPopup1
        {
            background-color: #fff;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 10px;
            overflow: hidden;
            width: 50%;
            height: auto;
            text-align: left;
            color:#0244a2
        }
 .freesim_button_get
 {
     background:none;
     border:none;
     color:#fff
     }
    .modalPopup1 ul
    {
        padding:25px 40px;
        margin:0
        }
      .modalPopup1 ul li
      {
          padding:0 0 10px
          }
       .mob
       {
           float:left
           }
       .SecondFooter
       {
           clear:both;
           margin-top:25px;
           overflow:hidden;
           float:left
           }
            .SecondFooter ul
            {
                margin:15px 0 0 40px
                }
              .SecondFooter ul li
              {
                  color:#0244a2;
                  margin-bottom:10px
                 
                  }
           .errormsg
           {
               font-size:12px;
               color:red
               }
  @media only screen and (min-width:10px) and (max-width:479px)
{
    h2.poland {
    font-size: 17px;
}
    .main-container
    {
        width:94%;
        margin:0 auto
        }
  .logo
  {
      width:100%;
      height:93px
      }
 .logoimg img
 {
     max-width:125px
     }
body
{
    background:#c9eab3 url("/img-lp/bg.png") repeat-x scroll 0 -31px
    }
.arrow-down
{
    float:left;
    margin-left:15px;
    margin-top:10px
    }
h2
{
    width:100%;
    font-size:19px
    }
.mob
{
    float:right;
    margin-right:25px
    }
.new-form-box
{
    width:100%
    }
 .new-form-box .tr_label
 {
     width:30%
     }
 .new-form-box .tr_input
 {
     margin-left:10px
     }
 .btn-lp-proceed_br
 {
     font-size:10px
     }
 .main-box
 {
     width:100%
     }
.main-box img
{
    max-width:100%
    }
.downarrowy
{
    padding-bottom:50px
    }
.yellowbg .col-md-4:nth-child(3) .downarrowy
{
    padding-bottom:0
    }
.copyright
{
    float:left;
    padding:5px 0
    }
.powered 
{
    padding:10px 0 5px
    }
.modalPopup1
{
    width:80%
    }
}
 @media only screen and (min-width:480px) and (max-width:767px)
{
     .main-container
    {
        width:94%;
        margin:0 auto
        }
  .logo
  {
      width:100%;
      height:93px
      }
 .logoimg img
 {
     max-width:125px
     }
body
{
    background:#c9eab3 url("/img-lp/bg.png") repeat-x scroll 0 -31px
    }
.arrow-down
{
    float:left;
    margin-left:15px
    }
h2
{
    width:100%
    }
.mob
{
    float:right;
    margin-right:25px
    }
.new-form-box
{
    width:100%
    }
 .new-form-box .tr_label
 {
     width:30%
     }
 .new-form-box .tr_input
 {
     margin-left:10px
     }
 .btn-lp-proceed_br
 {
     font-size:12px
     }
 .main-box
 {
     width:100%
     }
.main-box img
{
    max-width:100%
    }
.downarrowy
{
    padding-bottom:50px
    }
.yellowbg .col-md-4:nth-child(3) .downarrowy
{
    padding-bottom:0
    }
.copyright
{
    float:left;
    padding:5px 0
    }
.powered 
{
    padding:10px 0 5px
    }
.modalPopup1
{
    width:80%
    }
}
 @media only screen and (min-width:768px) and (max-width:964px)
{
    h2.poland {
    font-size: 12px;
}
     .main-container
    {
        width:96%;
        margin:0 auto
        }
 .logo {
    width: 50%;
}
.l_text
{
    width:50%
    }
h2
{
    width:auto;
    font-size:23px
    }
    h4
    { margin-left:6px;
      font-size:80px
        }
h4 span
{
    font-size:51px;
     margin-left: -29px;
    }
 .arrow-down
 {
     margin-left:5px;
     margin-right:5px;
     margin-top: 16px;
     }
 .new-form-box
 {
     width:50%
     }
 .main-box 
 {
     width:50%;
     }
 .main-box img
 {
     max-width:100%
     }
 .btn-lp-proceed_br
 {
     font-size:12px;
     }
 .box1 h2
 {
     font-size:17px
     }
 .downarrowy
{
    padding-bottom:50px
    }
.yellowbg .col-md-4:nth-child(3) .downarrowy
{
    padding-bottom:0
    }
.copyright
{
    float:left;
    padding:5px 0 0
    }
}