﻿body
{
    background: #e6d700;
    font-size: 15px;
    color: #000;
}
*
{
    margin: 0;
    padding: 0;
}
.bg
{
    width:100%;
    background: url(../img-lp/bundles/bg.jpg) no-repeat center top
    }
 .container
 {
     width:930px;
     margin:0 auto
     }
  #ucFreeSimLandingPages_imgLeft
  {
      display:none
      }
      .banner
      {
          width:760px;
          float:right;
          margin-top:-24px
          }
.banner p
{
    background:#48a844;
    color:#fff;
    font-size:12px;
    padding:15px 0 15px 180px    
    }
.header h1
{
    margin-bottom:0
    }
.col-md
{
    float:right;
    clear:both;
    width:760px
 
    }
.mob-adj1, .mob-adj2
{
    display:none
 
    }
.col-md h2
{
    font-size:18px;
    padding:15px 0;
    color:#213b8f;
     
    }
   .col1
   {
       float:left
       }
  input
  {
      border:none;
      padding:10px;
      border-radius:10px;
      margin-bottom:10px;;
      width:100%
      }
  .tr_main
  {
      margin-bottom:7px
      }
  .new-form-box 
  {
      float:left;
      width:260px;
      margin-left:22px
      }
 .tr_input span
 {
     font-size:12px;
     color:#213b90
     }
 .btn-lp-proceed_br
 {
      background:url("../img-lp/bundles/bubg.png") repeat-x 0 0;
      border-radius:10px;
      line-height:44px;
      display:block;
      text-align:center;
      color:#fff;
      font-weight:700;
      font-size:15px
     }
   .btn-lp-proceed_br:hover
   {
       color:#fff;
       text-decoration:none
       }
   .col3
   {
       float:left;
       width:280px;
       margin-left: 33px;
       }
    .Lp-div-2 {
    float: left;
    
    width: 100%;
    margin-top:6px
}
.Lp-div-sub {

    float: left;
    padding: 0 0;
    width: 100%;
    margin-bottom:50px
}
.free_sim_right_sub2 {
    color: #213b90;
    display: block;
    float: left;
    font-size: 12px;
    margin: 0 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
.free_sim_right_sub2 strong {
    color: #213b90;
    font-size: 15px;
}
.footer
{
    height:36px;
    border-top:1px solid #c9c9c9;
    background:#213b90;
    color:#fff
    }
 .footer a, .footer a:hover
 {
     color:#fff
     }
.powered
{
    float:left;
    padding:10px 0 0
    
    }
 .copyright
 {
     float:right;
      padding:10px 0 0
     }
 .SecondFooter
 {
     clear:both;
     padding:15px 0
     }
  .SecondFooter ul
  {
     margin:15px 0 0 40px;
     color:#213b90
      }
   .errormsg
   {
       color:red;
       font-size:12px
       }
 @media only screen and (min-width:10px) and (max-width:479px)
{
    .container
    {
        width:90%;
        margin:0 auto
        }
   .banner {
    width: 100%;
    margin:15px 0 0 0
}
   .banner img {
    max-width:100%
}
.header img
{
    max-width:125px
    }
.banner p
{
    padding:10px
    }
.col-md
{
    width:100%
    }
.col1
{
    width:25%;
    }
.col1 img
{
    max-width:100%
    }
 .new-form-box
 {
     width:67%
     }
 .btn-lp-proceed_br
 {
     font-size:12px
     }
 .col3
 {
     width:100%;
     margin:25px 0 0 0
     }
 .Lp-div-sub
 {
     margin-bottom:25px
     }
.footer {
    height: auto;
}
.copyright
{
    float:left;
    padding-bottom:10px
    }
}
 @media only screen and (min-width:480px) and (max-width:767px)
{
    .container
    {
        width:90%;
        margin:0 auto
        }
   .banner {
    width: 100%;
    margin:15px 0 0 0
}
   .banner img {
    max-width:100%
}
.header img
{
    max-width:125px
    }
.banner p
{
    padding:10px
    }
.col-md
{
    width:100%
    }
.col1
{
    width:25%;
    }
.col1 img
{
    max-width:100%
    }
 .new-form-box
 {
     width:68%
     }
 .btn-lp-proceed_br
 {
     font-size:15px
     }
 .col3
 {
     width:100%;
     margin:25px 0 0 0
     }
 .Lp-div-sub
 {
     margin-bottom:25px
     }
.footer {
    height: auto;
}
.copyright
{
    float:left;
    padding-bottom:10px
    }
}
 @media only screen and (min-width:768px) and (max-width:929px)
{
     .container
    {
        width:90%;
        margin:0 auto
        }
   .banner {
    width: 100%;
    margin:15px 0 0 0
}
   .banner img {
    max-width:100%
}
.header img
{
    max-width:125px
    }
.banner p
{
    padding:10px
    }
.col-md
{
    width:100%
    }
.col1
{
    width:25%;
    }
.col1 img
{
    max-width:100%
    }
 .new-form-box
 {
     width:68%
     }
 .btn-lp-proceed_br
 {
     font-size:15px
     }
 .col3
 {
     width:100%;
     margin:25px 0 0 0
     }
 .Lp-div-sub
 {
     margin-bottom:25px
     }
.footer {
    height: auto;
}
.copyright
{
    float:left;
    padding-bottom:10px
    }
}