﻿@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
body
{
    background: #fff;
    font-size: 15px;
    color: #000;
}
*
{
    margin: 0;
    padding: 0;
}
.landing_pages h4
{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-bottom: 7px;
}
#wrapper
{
    height: auto !important;
    margin: 0 auto -350px;
    min-height: 100%;
    min-width: 963px;
}

#toggleText p strong
{
    display:inline;
    font-size:15px;
    margin-bottom:0
    }
.mar-2
{
    margin-bottom: 20px;
}
.landing_pages
{
    background: #fff;
}
.header_top
{
    background: #BBEBB1;
    padding-bottom: 10px;
}
.bundleun .header_top
{
    background: #FFEC67 url("../ppc/img-lp//unbg.png") no-repeat top center;
    padding-bottom: 10px;
}
.col1, .col2, .col3
{
    float:left;
    width:33.3%;
    padding:21px 0
    }
.col2 img, .col3 img
{
    float:right;
    max-width:100%;
    margin-top:50px
    }
.col1 ul
{
    background:#1a489d;
    width:275px;
    padding:15px 0 30px
    }
 .col1 ul li
 {
     text-align:center;
     color:#fff;
     list-style-type:none
 }
 li.big
 {
     font-size:34px;
     text-transform:uppercase
     }
 .pull-right
 {
     float:right
     }
  li.small
  {
       font-size: 25px;
    line-height: 21px;
      }
 .col1 li span
 {
       background: #e0dd02 none repeat scroll 0 0;
    border-radius: 25px;
    color: #1a489d;
    display: inline-block;

    font-size: 25px;
    height: 25px;
    line-height: 25px;
    margin: 10px 12px 0 0;
    text-align: center;
    width: 25px;
     }
   
.subcontent
{
    background:#FFA500;
    width:100%;
    color:#fff;
    padding:15px 0
    }
.bundleun .subcontent
{
    background:#48a844;
    }
.subcontent strong
{
    display:block;
    font-size:18px;
    margin-bottom:10px
    }
.top-left-img
{
    background: url("/ppc/img-lp/top-image.png") no-repeat left -60px;
    width: 658px;
    height: 540px;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}
.arrow-down
{
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #0045A2;
    height: 0;
    width: 0;
    position: absolute;
    left: 50%;
    z-index:9
}
.container-wi
{
    width: 933px;
    margin: 0 auto;
    position: relative;
}
.title
{
    height:120px;
}
.bundleun .title
{
    height:127px;
}
.logo
{

    height: auto;

}
.logoimg
{
    background: url("/ppc/img-lp/lpnew_logo.png") no-repeat top left;
    margin:10px 0 0 0;
    display: block;
    height: 99px;
    padding: 0;
    text-indent: -9999px;
    width: 193px;
}
.logo .logoimg
{
    margin:;
}
.container-wi::before, .container-wi::after
{
    content: "";
    display: table;
    line-height: 0;
}
.frame
{
    background: #1e81b0; /* Old browsers */
    background: -moz-linear-gradient(left, #1e81b0 0%, #10477a 49%, #10477a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e81b0), color-stop(49%,#10477a), color-stop(100%,#10477a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #1e81b0 0%,#10477a 49%,#10477a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #1e81b0 0%,#10477a 49%,#10477a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #1e81b0 0%,#10477a 49%,#10477a 100%); /* IE10+ */
    background: linear-gradient(to right, #1e81b0 0%,#10477a 49%,#10477a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e81b0', endColorstr='#10477a',GradientType=1 ); /* IE6-9 */
    box-sizing: border-box;
    display: inline-block;
    margin-left: -1000px;
    min-height: 120px;
    padding: 1px 0 7px;
}
.frame .biggest
{
    margin: 0 30px 0 1000px;
    width: 902px;
    padding-left:140px
}
.frame h1
{
   color: white;
    font-family: "Roboto",sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 33px;
    margin: 36px 0 0;
    padding: 0;
}
.frame .biggest h2 strong
{
    font-size: 50px;
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight:700
}
.frame .biggest h2
{
   color: #fff;
    font-size: 45px;
    font-weight: 400;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.frame .biggest h2 span
{
    font-size: 30px;
    font-weight: normal;
}
.biggest h3
{
    font-size: 25px;
    color: #fff;
}
.frame h1 span
{
    font-size: 40px;
    right: 16px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.frame h1 span span
{
    font-weight: normal;
    right: 0;
}

.row-fluid
{
    width: 100%;
}
.row-fluid::before, .row-fluid::after
{
    content: "";
    display: table;
    line-height: 0;
}
.row-fluid::after
{
    clear: both;
}
.ratesdrop
{
    
    overflow: hidden;
    margin:40px 0
}
.ratesdrop i
{
    font-style:normal;
    font-size:18px;
    font-weight:200
    
    }
.ratesdrop h3 span
{
    display:inline-block;
    margin:0 8px 10px 0;
    float:left
    }
.ratesdrop h3
{
      color: #0045a2;
    font-family: "Roboto",sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-left: 144px;
    
    }
.section
{
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
}
.row-fluid .span6
{
    width: 50%;
}
.row-fluid [class*="span"]
{
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 0;
    min-height: 30px;
}
.control-group label {
        display: inline-block;
        float: left;
        font-weight: 700;
        margin-bottom: 5px;
        text-align: right;
        width: 26%;
        line-height:30px
}
.control
{
    float: left;
    margin-left: 10px;


    }
.control h3
{
    color:#0045A2
    }
.control h3
{
    color:#0045A2
    }
.grayb
{
    background-color: #f4f4f4;
    border: 1px solid #e4e4e4;
    border-radius: 0;
    padding: 0;
}
.landing_pages .form
{
    margin: 0 auto;
    width: 380px;
}

label
{
    display: block;
    margin-bottom: 5px;
    color: #000;
    font-weight: normal !important;
}
#opc_input
{
    width:40%
    }
#opc_button
{
    background: #0045a2 none repeat scroll 0 0;
    border:none;
    border-radius: 8px;
    color: #fff;
    margin-left: 10px;
    padding: 8px 10px;
    width: 56%;
    font-size:12px
    }
.control-group
{
    margin-bottom: 20px;
    margin-top: 0;
    clear: both;
    overflow:hidden
    
}
label, input, button, select, textarea
{
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
}
input, select
{
    width: 100%;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 8px;
    color: #666;
    display: inline-block;
    font-size: 15px;
    height: 36px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 0 6px;
    vertical-align: middle;
}
select
{
    height: auto;
    padding: 8px 6px;
}
.input1
{
    width: 150px;
}
input:focus
{
    border: 1px solid #ffb620;
}
.btnb
{
    border-radius: 0 20px 20px 0;
    width: auto;
    background: #000 none repeat scroll 0 0;
    border: 1px solid #000;
    color: #fff !important;
    text-shadow: none;
    box-sizing: border-box;
    font-size: 15px;
    height: 42px;
    line-height: 40px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    position: relative;
    top: 2px;
    right: 4px;
    outline: 0;
}
.btnb:hover, .btnb:focus
{
    text-decoration: none;
}
.yellowbutton
{
    border-radius: 0;
    font-size: 20px;
    line-height: 40px;
    padding-top: 0;
    display: block;
    height: auto;
    padding-bottom: 0;
}

.btn-primary
{
    background: #ffc000 none repeat scroll 0 0 !important;
    border: 1px solid #e6ad00 !important;
    color: #1c1c1c !important;
    text-shadow: none;
    font-weight: BOLD;
}
.btn-primary:hover
{
    background: #ffd966 !important;
}
.deliverf, .deliverf-hu, .deliverf-ro
{
    bottom: 90px;
    left: 386px;
    position: absolute;
}
.deliverf-hu
{
    bottom: 87px;
}
.deliverf-ro
{
    bottom: 90px;
}
.Lp-div-sub
{
    border-bottom: medium none;
    float: left;
    margin-bottom: 0;
    padding: 0;
    
    margin-left: 40px;
    margin-top: 50px;
}
.bundleun .Lp-div-sub
{
    margin-top: 30px;
}
.free_sim_right_sub
{
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    text-align: center;
    width: 25%;
}

.free_sim_right_sub2
{
  color: #646464;
    display: block;
    float: left;
    font-size: 15px;
    margin: 0 0 0 24px;
    padding: 0;
    text-align: left;
    width: 67%;
}
.free_sim_right_sub2 strong
{
    color: #FFF;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}
.header_top_in {
    background: #bbebb1 none repeat scroll 0 0;
    padding-bottom: 75px;
}
.bundleun .free_sim_right_sub2 strong
{

    margin-bottom: 5px;

}
.free_sim_right_sub2 P
{
    color:#FFF
    }
.section
{
    box-sizing: border-box;
    padding-bottom: 25px;
    padding-top: 25px;
    position: relative;
    background:#48A843;
    border-top:50px solid #FFA500;
    border-bottom:none;
    border-left:none;
    border-right:none
}
.bundleun .section
{

    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    background:#18479f;
    border-top:none;

}
.row-fluid .span3
{
    width: 25%;
}
h3
{
    font-size: 27px;
}
#opc_dropdown
{
    margin-top:15px
    }

.alert-label-1::before, .with-label-1::before
{
    content: "1";
}
.alert-label::before, .with-label::before
{
    background-color: #0045A2;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    left: -35px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 30px;
}
.landingtandc 
{
    margin-top:25PX;
    display:block
    }
.alert-text
{
    border: 0 none;
    color: #000;
    font-size: inherit;
    padding: 0 5px 5px;
}
.alert
{
    border: 0 none;
    border-radius: 0;
    font-size: 17px;
    padding: 0 35px 0 14px;
    text-shadow: none;
}
.alert-label, .with-label
{
    margin-left: 35px;
    position: relative;
}
.alert, .alert h4
{
    color: #0045A2;
}
.alert
{
    background-color: none;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 0 20px 0 5px !important;
}
.section-bottom
{
    background-color: #BBEBB1;
    color: white;
    border:none
}
.section-bottom h3
{
    margin-top: 0;
    padding-right: 15px;
    color: #0045A2;
}
.alert-label-2::before, .with-label-2::before
{
    content: "2";
}
.alert-label-3::before, .with-label-3::before
{
    content: "3";
}
footer
{
    height:auto;
     background:#0045A2;
     overflow:hidden;
     color:#fff;
     padding:8px 0
}
.bundleun footer
{

     background:#ffa604;
     color:#18479f;

}
footer a
{
    color:#fff;
    
    }
.footer_wrapper
{
    height: 130px; /* left: -1000px;*/ /* margin-top: 50px;*/ /*position: absolute;*/
}
.footer-inner
{
    margin: 0 0 /*200px*/ 0 0 /*1000px*/;
    float: left;
    width: 100%;
    font-size: 13px;
    color: #2e5189;
}

footer .copyright
{
    padding-right: 7px;
    float: left;
    margin-left: 0;
}
footer .copyright
{
    color: #fff;
    font-size: 15px;
    margin-bottom: 0;
    float:right
}
.bundleun footer .copyright
{
   color:#18479f;

}
.footer-bg p
{
    padding:119px 0 5px;
    margin:0
    }
.footer-bg p a
{
    color:#fff;
    
    
    }
    .main-box
    {
        display:none
        }
footer .powered
{
    height: 20px;
    float: left;
}
.pad-b
{
    padding-bottom: 0;
}
.footer-bg
{
    background: rgba(0, 0, 0, 0) url("/ppc/img-lp/bottom-image.png") no-repeat scroll left bottom;
    margin: 0 auto;
}


.input1_value
{
    width: 25%;
}
.input2_value
{
    width: 65%;
}
.errMsg
{
    clear: both;
    color: #ff0000;
    display: block;
    float: left;
    font-size: 12px;
    text-align: left;
}
.top-content, .top-content1, .top-content2, .top-content3, .top-content5, .top-content6
{
    float: left;
    width: 31%;
}
.top-content img
{
    max-width: 100%;
}
.top-content h2, .top-content2 h2, .top-content3 h2, .top-content5 h2, .top-content6 h2
{
    color: #10477a;
    font-size: 30px;
}
.top-content6 h2
{
    margin-left: 85px;
}
.top-content5
{
    width: 30%;
}
.plus
{
    float: left;
}
.plus h3, .plus1
{
    font-size: 40px;
    color: #10477A;
    font-weight: bold;
    float: left;
}
.landing_pages h5
{
    color: #10477a;
    float: left;
    font-size: 25px;
    padding: 6px 15px 15px 10px;
}
.line-content
{
    margin: 0 auto;
    width: 80%;
}
.top-content1
{
    width: auto;
    margin-left: 25px;
}
.top-content2
{
    width: 18%;
}
.top-content3
{
    width: 22%;
}
footer a, footer a:hover
{
    color: #fff;
    text-decoration:none
}
.bundleun footer a, .bundleun footer a:hover
{
    color:#18479f
    
    }
.span6 .Lp-div-sub:nth-child(1)
{
    margin-top: 0px;
}
.bundleun .span6 .Lp-div-sub:nth-child(1)
{
    margin-top: 20px;
}
.container-wi-m
{
    width: 1060px;
    margin: 0 auto;
}
.SecondFooter p
{
    margin:0
    
    }
  .SecondFooter p a, .SecondFooter p a:hover
  {
      color:#Fff
      }
.SecondFooter ul
{
    clear: both;
    margin: 0 0 20px 45px;
    padding: 0;
}
.SecondFooter ul li
{
    color: #fff;
    font-size: 15px;
    margin: 5px 0 0;
    padding: 0;
    text-align: left;
}
.top-content6
{
    margin-left: 50px;
}
.landing_pages h5.mar-1
{
    float: none;
    text-align: center;
}
.simbox
{
    width: 133px;
    float: left;
    text-align: left;
    height: 121px;
}
.bluebox, .camparebox
{
    float: left;
    width: 222px;
    margin-left: 50px;
    border-radius: 10px;
    background: #009de0;
    height: 126px;
}
.camparebox
{
    background: #0045A2;
    border: 1px solid #0045A2;
}
.bluebox h2, .camparebox h2
{
    line-height: 42px;
    background: #5ec1eb;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: bold;
}
.camparebox h2
{
    background: #fff;
    color: #0045A2;
}
.bluebox p, .camparebox p
{
    text-align: center;
    color: #fff;
    font-size: 13px;
    margin: 0;
    width: 100%;
}
.camparebox p
{
    color: #fff;
}
.bluebox h3, .camparebox h3
{
    color: #fff;
    margin: 5px 0 7px;
    text-align: center;
}
.campretxt
{
    float: left;
    width: 222px;
    margin-left: 148px;
    height: 126px;
    text-align: left;
}
.campretxt p
{
    color: #0045A2;
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
}
.campretxt p strong
{
       float: left;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 15px;
    overflow: hidden;
    }
.camparebox h3 span
{
    color: #fff;
    font-size: 37px;
    font-weight: bold;
}
.bluebox h3 span
{
    font-size: 37px;
    color: #ffffff;
    font-weight: bold;
}
.globeflag
{
    margin: -158px 85px 0 0;
    position: absolute;
    right: 0;
    width:99px
}
.spec .campretxt
{
    margin-left:0
    }
.sim99in {
    margin: -101px 0 0;
}
.India
{
    background: rgba(166,87,8,1);
    background: -moz-linear-gradient(left, rgba(166,87,8,1) 0%, rgba(166,87,8,1) 50%, rgba(224,143,56,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(166,87,8,1)), color-stop(50%, rgba(166,87,8,1)), color-stop(100%, rgba(224,143,56,1)));
    background: -webkit-linear-gradient(left, rgba(166,87,8,1) 0%, rgba(166,87,8,1) 50%, rgba(224,143,56,1) 100%);
    background: -o-linear-gradient(left, rgba(166,87,8,1) 0%, rgba(166,87,8,1) 50%, rgba(224,143,56,1) 100%);
    background: -ms-linear-gradient(left, rgba(166,87,8,1) 0%, rgba(166,87,8,1) 50%, rgba(224,143,56,1) 100%);
    background: linear-gradient(to right, rgba(166,87,8,1) 0%, rgba(166,87,8,1) 50%, rgba(224,143,56,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a65708', endColorstr='#e08f38', GradientType=1 );
}
.Iran
{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#398923+0,4d873e+100 */
background: #398923; /* Old browsers */
background: -moz-linear-gradient(left, #398923 0%, #4d873e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#398923), color-stop(100%,#4d873e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #398923 0%,#4d873e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #398923 0%,#4d873e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #398923 0%,#4d873e 100%); /* IE10+ */
background: linear-gradient(to right, #398923 0%,#4d873e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#398923', endColorstr='#4d873e',GradientType=1 ); /* IE6-9 */
}
.Hungary
{
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#880000+0,871c1c+100 */
background: #880000; /* Old browsers */
background: -moz-linear-gradient(left, #880000 0%, #871c1c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#880000), color-stop(100%,#871c1c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #880000 0%,#871c1c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #880000 0%,#871c1c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #880000 0%,#871c1c 100%); /* IE10+ */
background: linear-gradient(to right, #880000 0%,#871c1c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#880000', endColorstr='#871c1c',GradientType=1 ); /* IE6-9 */
}
.Bulgaria
{
    background: rgba(20,133,97,1);
    background: -moz-linear-gradient(left, rgba(20,133,97,1) 0%, rgba(20,133,97,1) 60%, rgba(112,191,166,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(20,133,97,1)), color-stop(60%, rgba(20,133,97,1)), color-stop(100%, rgba(112,191,166,1)));
    background: -webkit-linear-gradient(left, rgba(20,133,97,1) 0%, rgba(20,133,97,1) 60%, rgba(112,191,166,1) 100%);
    background: -o-linear-gradient(left, rgba(20,133,97,1) 0%, rgba(20,133,97,1) 60%, rgba(112,191,166,1) 100%);
    background: -ms-linear-gradient(left, rgba(20,133,97,1) 0%, rgba(20,133,97,1) 60%, rgba(112,191,166,1) 100%);
    background: linear-gradient(to right, rgba(20,133,97,1) 0%, rgba(20,133,97,1) 60%, rgba(112,191,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148561', endColorstr='#70bfa6', GradientType=1 );
}
.Singapore
{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f42a41+0,f2021a+100 */
background: #f42a41; /* Old browsers */
background: -moz-linear-gradient(left, #f42a41 0%, #f2021a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f42a41), color-stop(100%,#f2021a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #f42a41 0%,#f2021a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #f42a41 0%,#f2021a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #f42a41 0%,#f2021a 100%); /* IE10+ */
background: linear-gradient(to right, #f42a41 0%,#f2021a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f42a41', endColorstr='#f2021a',GradientType=1 ); /* IE6-9 */
 }
 .Bulgaria-in
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009966+0,049967+100 */
background: #009966; /* Old browsers */
background: -moz-linear-gradient(left, #009966 0%, #049967 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#009966), color-stop(100%,#049967)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #009966 0%,#049967 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #009966 0%,#049967 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #009966 0%,#049967 100%); /* IE10+ */
background: linear-gradient(to right, #009966 0%,#049967 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009966', endColorstr='#049967',GradientType=1 ); /* IE6-9 */
    }
    .Romania-in
{
    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0045e6+0,1251e5+100 */
background: #0045e6; /* Old browsers */
background: -moz-linear-gradient(left, #0045e6 0%, #1251e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0045e6), color-stop(100%,#1251e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #0045e6 0%,#1251e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #0045e6 0%,#1251e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #0045e6 0%,#1251e5 100%); /* IE10+ */
background: linear-gradient(to right, #0045e6 0%,#1251e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0045e6', endColorstr='#1251e5',GradientType=1 ); /* IE6-9 */

}
.China
{
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#880000+0,871c1c+100 */
background: #880000; /* Old browsers */
background: -moz-linear-gradient(left, #880000 0%, #871c1c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#880000), color-stop(100%,#871c1c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #880000 0%,#871c1c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #880000 0%,#871c1c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #880000 0%,#871c1c 100%); /* IE10+ */
background: linear-gradient(to right, #880000 0%,#871c1c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#880000', endColorstr='#871c1c',GradientType=1 ); /* IE6-9 */
}
.Turkey
{
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#880000+0,871c1c+100 */
background: #880000; /* Old browsers */
background: -moz-linear-gradient(left, #880000 0%, #871c1c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#880000), color-stop(100%,#871c1c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #880000 0%,#871c1c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #880000 0%,#871c1c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #880000 0%,#871c1c 100%); /* IE10+ */
background: linear-gradient(to right, #880000 0%,#871c1c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#880000', endColorstr='#871c1c',GradientType=1 ); /* IE6-9 */
}
.Ghana
{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#880000+0,871c1c+100 */
background: #880000; /* Old browsers */
background: -moz-linear-gradient(left, #880000 0%, #871c1c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#880000), color-stop(100%,#871c1c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #880000 0%,#871c1c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #880000 0%,#871c1c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #880000 0%,#871c1c 100%); /* IE10+ */
background: linear-gradient(to right, #880000 0%,#871c1c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#880000', endColorstr='#871c1c',GradientType=1 ); /* IE6-9 */
}
.Serbia
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00022e+0,252e62+100 */
background: #00022e; /* Old browsers */
background: -moz-linear-gradient(left, #00022e 0%, #252e62 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00022e), color-stop(100%,#252e62)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #00022e 0%,#252e62 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #00022e 0%,#252e62 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #00022e 0%,#252e62 100%); /* IE10+ */
background: linear-gradient(to right, #00022e 0%,#252e62 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00022e', endColorstr='#252e62',GradientType=1 ); /* IE6-9 */
}
.camoros
{
    background: rgba(176,24,42,1);
    background: -moz-linear-gradient(left, rgba(176,24,42,1) 0%, rgba(176,24,42,1) 60%, rgba(222,149,157,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(176,24,42,1)), color-stop(60%, rgba(176,24,42,1)), color-stop(100%, rgba(222,149,157,1)));
    background: -webkit-linear-gradient(left, rgba(176,24,42,1) 0%, rgba(176,24,42,1) 60%, rgba(222,149,157,1) 100%);
    background: -o-linear-gradient(left, rgba(176,24,42,1) 0%, rgba(176,24,42,1) 60%, rgba(222,149,157,1) 100%);
    background: -ms-linear-gradient(left, rgba(176,24,42,1) 0%, rgba(176,24,42,1) 60%, rgba(222,149,157,1) 100%);
    background: linear-gradient(to right, rgba(176,24,42,1) 0%, rgba(176,24,42,1) 60%, rgba(222,149,157,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0182a', endColorstr='#de959d', GradientType=1 );
}
.egypt
{
    background: rgba(184,41,48,1);
    background: -moz-linear-gradient(left, rgba(184,41,48,1) 0%, rgba(184,41,48,1) 60%, rgba(204,129,133,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,41,48,1)), color-stop(60%, rgba(184,41,48,1)), color-stop(100%, rgba(204,129,133,1)));
    background: -webkit-linear-gradient(left, rgba(184,41,48,1) 0%, rgba(184,41,48,1) 60%, rgba(204,129,133,1) 100%);
    background: -o-linear-gradient(left, rgba(184,41,48,1) 0%, rgba(184,41,48,1) 60%, rgba(204,129,133,1) 100%);
    background: -ms-linear-gradient(left, rgba(184,41,48,1) 0%, rgba(184,41,48,1) 60%, rgba(204,129,133,1) 100%);
    background: linear-gradient(to right, rgba(184,41,48,1) 0%, rgba(184,41,48,1) 60%, rgba(204,129,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82930', endColorstr='#cc8185', GradientType=1 );
}
.ivorycoast
{
    background: rgba(28,143,86,1);
    background: -moz-linear-gradient(left, rgba(28,143,86,1) 0%, rgba(28,143,86,1) 60%, rgba(128,207,168,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(28,143,86,1)), color-stop(60%, rgba(28,143,86,1)), color-stop(100%, rgba(128,207,168,1)));
    background: -webkit-linear-gradient(left, rgba(28,143,86,1) 0%, rgba(28,143,86,1) 60%, rgba(128,207,168,1) 100%);
    background: -o-linear-gradient(left, rgba(28,143,86,1) 0%, rgba(28,143,86,1) 60%, rgba(128,207,168,1) 100%);
    background: -ms-linear-gradient(left, rgba(28,143,86,1) 0%, rgba(28,143,86,1) 60%, rgba(128,207,168,1) 100%);
    background: linear-gradient(to right, rgba(28,143,86,1) 0%, rgba(28,143,86,1) 60%, rgba(128,207,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c8f56', endColorstr='#80cfa8', GradientType=1 );
}
.Germanys
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#880000+0,871c1c+100 */
background: #880000; /* Old browsers */
background: -moz-linear-gradient(left, #880000 0%, #871c1c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#880000), color-stop(100%,#871c1c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #880000 0%,#871c1c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #880000 0%,#871c1c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #880000 0%,#871c1c 100%); /* IE10+ */
background: linear-gradient(to right, #880000 0%,#871c1c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#880000', endColorstr='#871c1c',GradientType=1 ); /* IE6-9 */
}
.Italy
{
    background: rgba(50,155,69,1);
    background: -moz-linear-gradient(left, rgba(50,155,69,1) 0%, rgba(50,155,69,1) 60%, rgba(104,196,121,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(50,155,69,1)), color-stop(60%, rgba(50,155,69,1)), color-stop(100%, rgba(104,196,121,1)));
    background: -webkit-linear-gradient(left, rgba(50,155,69,1) 0%, rgba(50,155,69,1) 60%, rgba(104,196,121,1) 100%);
    background: -o-linear-gradient(left, rgba(50,155,69,1) 0%, rgba(50,155,69,1) 60%, rgba(104,196,121,1) 100%);
    background: -ms-linear-gradient(left, rgba(50,155,69,1) 0%, rgba(50,155,69,1) 60%, rgba(104,196,121,1) 100%);
    background: linear-gradient(to right, rgba(50,155,69,1) 0%, rgba(50,155,69,1) 60%, rgba(104,196,121,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#329b45', endColorstr='#68c479', GradientType=1 );
}
.morocco
{
    background: rgba(200,39,42,1);
    background: -moz-linear-gradient(left, rgba(200,39,42,1) 0%, rgba(200,39,42,1) 60%, rgba(217,139,141,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(200,39,42,1)), color-stop(60%, rgba(200,39,42,1)), color-stop(100%, rgba(217,139,141,1)));
    background: -webkit-linear-gradient(left, rgba(200,39,42,1) 0%, rgba(200,39,42,1) 60%, rgba(217,139,141,1) 100%);
    background: -o-linear-gradient(left, rgba(200,39,42,1) 0%, rgba(200,39,42,1) 60%, rgba(217,139,141,1) 100%);
    background: -ms-linear-gradient(left, rgba(200,39,42,1) 0%, rgba(200,39,42,1) 60%, rgba(217,139,141,1) 100%);
    background: linear-gradient(to right, rgba(200,39,42,1) 0%, rgba(200,39,42,1) 60%, rgba(217,139,141,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8272a', endColorstr='#d98b8d', GradientType=1 );
}
.Nigeria
{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#115f23+0,397645+100 */
background: #115f23; /* Old browsers */
background: -moz-linear-gradient(left, #115f23 0%, #397645 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#115f23), color-stop(100%,#397645)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #115f23 0%,#397645 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #115f23 0%,#397645 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #115f23 0%,#397645 100%); /* IE10+ */
background: linear-gradient(to right, #115f23 0%,#397645 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#115f23', endColorstr='#397645',GradientType=1 ); /* IE6-9 */

}
.Pakistan
{
    background: rgba(23,62,37,1);
    background: -moz-linear-gradient(left, rgba(23,62,37,1) 0%, rgba(23,62,37,1) 60%, rgba(119,186,142,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23,62,37,1)), color-stop(60%, rgba(23,62,37,1)), color-stop(100%, rgba(119,186,142,1)));
    background: -webkit-linear-gradient(left, rgba(23,62,37,1) 0%, rgba(23,62,37,1) 60%, rgba(119,186,142,1) 100%);
    background: -o-linear-gradient(left, rgba(23,62,37,1) 0%, rgba(23,62,37,1) 60%, rgba(119,186,142,1) 100%);
    background: -ms-linear-gradient(left, rgba(23,62,37,1) 0%, rgba(23,62,37,1) 60%, rgba(119,186,142,1) 100%);
    background: linear-gradient(to right, rgba(23,62,37,1) 0%, rgba(23,62,37,1) 60%, rgba(119,186,142,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#173e25', endColorstr='#77ba8e', GradientType=1 );
}
.Crotia
{
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe0000+0,fc2020+100 */
background: #fe0000; /* Old browsers */
background: -moz-linear-gradient(left, #fe0000 0%, #fc2020 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fe0000), color-stop(100%,#fc2020)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #fe0000 0%,#fc2020 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #fe0000 0%,#fc2020 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #fe0000 0%,#fc2020 100%); /* IE10+ */
background: linear-gradient(to right, #fe0000 0%,#fc2020 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0000', endColorstr='#fc2020',GradientType=1 ); /* IE6-9 */
}
.senegal
{
    background: rgba(187,177,42,1);
    background: -moz-linear-gradient(left, rgba(187,177,42,1) 0%, rgba(187,177,42,1) 60%, rgba(209,203,132,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(187,177,42,1)), color-stop(60%, rgba(187,177,42,1)), color-stop(100%, rgba(209,203,132,1)));
    background: -webkit-linear-gradient(left, rgba(187,177,42,1) 0%, rgba(187,177,42,1) 60%, rgba(209,203,132,1) 100%);
    background: -o-linear-gradient(left, rgba(187,177,42,1) 0%, rgba(187,177,42,1) 60%, rgba(209,203,132,1) 100%);
    background: -ms-linear-gradient(left, rgba(187,177,42,1) 0%, rgba(187,177,42,1) 60%, rgba(209,203,132,1) 100%);
    background: linear-gradient(to right, rgba(187,177,42,1) 0%, rgba(187,177,42,1) 60%, rgba(209,203,132,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbb12a', endColorstr='#d1cb84', GradientType=1 );
}
.srilanka
{
    background: rgba(161,55,62,1);
    background: -moz-linear-gradient(left, rgba(161,55,62,1) 0%, rgba(161,55,62,1) 60%, rgba(207,135,140,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(161,55,62,1)), color-stop(60%, rgba(161,55,62,1)), color-stop(100%, rgba(207,135,140,1)));
    background: -webkit-linear-gradient(left, rgba(161,55,62,1) 0%, rgba(161,55,62,1) 60%, rgba(207,135,140,1) 100%);
    background: -o-linear-gradient(left, rgba(161,55,62,1) 0%, rgba(161,55,62,1) 60%, rgba(207,135,140,1) 100%);
    background: -ms-linear-gradient(left, rgba(161,55,62,1) 0%, rgba(161,55,62,1) 60%, rgba(207,135,140,1) 100%);
    background: linear-gradient(to right, rgba(161,55,62,1) 0%, rgba(161,55,62,1) 60%, rgba(207,135,140,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1373e', endColorstr='#cf878c', GradientType=1 );
}
.Romania
{
    
background: rgba(0,3,83,1);
background: -moz-linear-gradient(left, rgba(0,3,83,1) 0%, rgba(0,3,83,1) 68%, rgba(139,143,214,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,3,83,1)), color-stop(68%, rgba(0,3,83,1)), color-stop(100%, rgba(139,143,214,1)));
background: -webkit-linear-gradient(left, rgba(0,3,83,1) 0%, rgba(0,3,83,1) 68%, rgba(139,143,214,1) 100%);
background: -o-linear-gradient(left, rgba(0,3,83,1) 0%, rgba(0,3,83,1) 68%, rgba(139,143,214,1) 100%);
background: -ms-linear-gradient(left, rgba(0,3,83,1) 0%, rgba(0,3,83,1) 68%, rgba(139,143,214,1) 100%);
background: linear-gradient(to right, rgba(0,3,83,1) 0%, rgba(0,3,83,1) 68%, rgba(139,143,214,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000353', endColorstr='#8b8fd6', GradientType=1 );

}
.Poland
{
    

background: rgba(136,0,5,1);
background: -moz-linear-gradient(left, rgba(136,0,5,1) 0%, rgba(136,0,5,1) 68%, rgba(219,164,166,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(136,0,5,1)), color-stop(68%, rgba(136,0,5,1)), color-stop(100%, rgba(219,164,166,1)));
background: -webkit-linear-gradient(left, rgba(136,0,5,1) 0%, rgba(136,0,5,1) 68%, rgba(219,164,166,1) 100%);
background: -o-linear-gradient(left, rgba(136,0,5,1) 0%, rgba(136,0,5,1) 68%, rgba(219,164,166,1) 100%);
background: -ms-linear-gradient(left, rgba(136,0,5,1) 0%, rgba(136,0,5,1) 68%, rgba(219,164,166,1) 100%);
background: linear-gradient(to right, rgba(136,0,5,1) 0%, rgba(136,0,5,1) 68%, rgba(219,164,166,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#880005', endColorstr='#dba4a6', GradientType=1 );


}
.visible-mobile
{
    display: none;
}
.header_top_in .h3content {
    margin:-32px 300px 0 0;
}
.h3content
{

    color: #31518a;
    display:inline;
        margin: -32px 200px 0 0;
        float:right;
        font-weight:400;
  
    font-family: "Roboto",sans-serif;
}
.errormsg, #opc_error_message
{
    color:Red;
    font-size:12px
    }
.mar-2
{
    margin-top: 20px;
}
   .hid-xs
          {
              display:block
              }
         .visi-xs
         {
             display:none
             }
             .new-form-box .tr_label {
   font-size: 13px;
    margin: 7px 0 0;
    text-align: right;
    width: 28%;
}
.new-form-box .tr_input {
    margin: 7px 0 0 10px;
    width: 62%;
}
.tr_input {
    color: #000;
    float: left;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
}
.tr_label {
    color: #000;
    float: left;
    font-size: 15px;
    font-weight: normal;
    line-height: 32px;
    text-align: right;
}
.box1 h2 {
    color: #0244a2;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 15px;
    padding: 0;
    text-align: left;
    width: auto;
}
.control {
    font-size: 12px;
    padding: 10px 30px;
}
.btn-lp-proceed_br {
    background: #ffb900 none repeat scroll 0 0;
    border: medium none;
    display: block;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
    width: 100%;
    color:#000;
    border-radius:0
}
.header_top_in .frame .biggest {
    width: 765px;
}
.tr_main {
    float: left;
    padding: 2px 0;
    width: 100%;
}
.new-form-box {
    background: #ebebeb none repeat scroll 0 0;
    float: left;
    padding-bottom: 20px;

}
.globeflag-in {
    float: right;
    margin: -134px 15px 0 0;
    width: 99px;
}
@media only screen and (min-width:768px) and (max-width:991px)
{
    .header_top_in .frame .biggest {
    width: 599px;
}
    .header_top_in {
    background: #bbebb1 none repeat scroll 0 0;
    padding-bottom: 75px;
}
    .ratesdrop h3
    {
        margin:0 20px
        }
    .wid
    {
        padding:0 20px
        }
    .container-wi
    {
        width: 100%;
    }
    #wrapper
    {
        min-width: inherit;
    }
    .frame h1
    {
        font-size: 85px;
        padding: 0 0 10px 15px;
    }
    .frame .biggest h2
    {
        margin-left: 24px;
    }
    .biggest h3
    {
        margin-left: 24px;
    }
    .globeflag
    {
        margin: -153px 23% 0 0;
    }
    .row-fluid .span6
    {
        width: 94%;
        margin: 0 auto;
        float: none;
    }
    .landing_pages .form
    {
        margin: 0 auto;
        width: 90%;
    }
    .row-fluid .span6:nth-child(2)
    {
        margin-top: 40px;
    }
    .deliverf, .deliverf-hu, .deliverf-ro
    {
        display: none;
    }
    .row-fluid .span3
    {
        width: 96%;
        margin: 0 auto;
        float: none;
        margin-bottom: 30px;
    }
    .footer-inner
    {
        margin-top: 0;
    }
    .footer_wrapper
    {
        height: auto;
        margin-top: 30px;
    }
    footer
    {
        height:auto;
        margin-left: 0;
    }
    .Lp-div-sub
    {
        margin-left: 0;
    }
    .span6 .Lp-div-sub:nth-child(1)
    {
        margin-top: 30px;
    }
    .Lp-div-sub
    {
        margin-bottom: 35px;
        margin-top: 0;
    }
    footer .powered
    {
        height: auto;
        padding-left:10px
    }
    footer .copyright
    {
        margin: 4px -10px 0 0;
        width: 100%;
    }
    .footer_wrapper .pull-right
    {
        float: none !important;
        clear: both;
    }
    .footer_wrapper
    {
        margin-top: 13px;
    }
    .SecondFooter
    {
        width:100%;
        margin: 0 auto;
    }
    .visible-mobile
    {
        display: none;
    }
    .bluebox, .camparebox, .campretxt
    {
        width: 195px !important;
    }
    .campretxt
    {
        margin-left: 0 !important;
        text-align: left !important;
    }
    .frame .biggest {

    padding-left: 0;
  width:660px
}
.frame .biggest h2 strong {
 
    display: block;

}

.h3content {

    margin: -20px 300px 0 0;
}
.ratesdrop .row-fluid {
    float: right;
    width: 100%;
}
.campretxt p
{
    padding-left:15px
    }
.campretxt p strong
{
    font-size:26px
    }
.footer-bg p {
    margin: 0;
    padding: 40px 0 10px 15px;
}
.subcontent {
    padding: 25px 20px;
}
.arrow-down
{
    left:47%
    }
     .hid-xs
          {
              display:block
              }
         .visi-xs
         {
             display:none
             }
}
@media only screen and (min-width:480px) and (max-width:767px)
{
    .frame .biggest h2 strong.inline {
    display: inline;
    font-size: 28px;
}
    .globeflag-in {
    margin: -119px 14px 0 0;
}
    .header_top_in .frame .biggest {
    width: 100%;
}
    .header_top_in {
    padding-bottom: 10px;
}
    .sim99in {
    margin: 0;
}
    .frame .biggest h2
    {
        font-size:30px
        }
    
    .container-wi
    {
        width: 100%;
    }
    #wrapper
    {
        min-width: inherit;
    }
    .frame
    {
        margin-left: 0;
        display: block;
    }
    .frame h1
    {
        font-size: 75px;
        padding: 0 0 10px 15px;
        margin:28px 0 0 0
    }
    .frame .biggest h2
    {
        margin-left: 24px;
    }
    .frame h1 span
    {
        right: 12px;
    }
    .biggest h3
    {
        margin-left: 24px;
    }
    .row-fluid .span6
    {
        width: 94%;
        margin: 0 auto;
        float: none;
    }
    .landing_pages .form
    {
        margin: 0 auto;
        width: 90%;
    }
    .row-fluid .span6:nth-child(2)
    {
        margin-top: 40px;
    }
    .deliverf, .deliverf-hu, .deliverf-ro
    {
        display: none;
    }
    .row-fluid .span3
    {
        width: 90%;
        margin: 0 auto;
        float: none;
        margin-bottom: 30px;
    }
    .footer-inner
    {
        margin-top: 0;
    }
    .footer_wrapper
    {
        height: auto;
        margin-top: 30px;
    }
    footer
    {
        height:auto;
        margin-left: 0
       
    }
    .Lp-div-sub
    {
        margin-left: 0;
    }
    .top-left-img
    {
        width: 480x;
        background-size: 100%;
        width: auto;
    }
    .top-content, .top-content1, .top-content2, .top-content3
    {
        float: left;
        width: 51%;
    }
    .plus
    {
        text-align: center;
        float: left;
        clear: both;
        margin-left: 40px;
    }
    .plus h3
    {
        float: none;
    }
    .line-content
    {
        width: 100%;
    }
    .landing_pages h5
    {
        width: 83%;
        font-size: 20px;
        padding-top: 0;
    }
    .top-content h2, .top-content2 h2, .top-content3 h2, .top-content5 h2, .top-content6 h2
    {
        font-size: 26px;
        text-align: left;
        width: auto;
    }
    .ratesdrop
    {
        margin: 0;
    }
    .plus h3, .plus1
    {
        font-size: 30px;
    }
    .plus1
    {
        margin-left: 40px;
    }
    .input2_value
    {
        width: 67%;
    }
    .span6 .Lp-div-sub:nth-child(1)
    {
        margin-top: 30px;
    }
    .Lp-div-sub
    {
        margin-bottom: 25px;
        margin-top: 0;
    }
    footer .powered
    {
        height: auto;
        padding:0 0 0 10px
    }
    footer .copyright
    {
        margin: 0;
        width: 100%;
    }
    .footer_wrapper .pull-right
    {
        float: none !important;
        clear: both;
        padding: 15px 0 0 0;
    }
    .footer_wrapper
    {
        margin-top: 13px;
    }
    .top-content1
    {
        margin-left: 291px;
        margin-top: 138px;
        position: absolute;
        width: auto;
    }
    .mini .top-content1
    {
        margin-left: 458px;
        margin-top: 68px;
        position: absolute;
        width: auto;
    }
    .top-content, .top-content6
    {
        margin-left: 75px;
    }
    .top-content2, .top-content3, .top-content5
    {
        margin-left: 15px;
    }
    .SecondFooter
    {
        width: 100%;
        margin: 0 auto;
    }
    .top-content6 h2
    {
        margin-left: 0;
    }

    .landing_pages h5.mar-1
    {
        float: none;
        margin-left: 64px;
        text-align: left;
    }
    .visible-mobile
    {
        display: block;
    }
    .bluebox, .camparebox
    {
      margin-bottom: 15px;
    margin-left: 12px;
    width: 47%;
    }
    .globeflag
    {
        margin: -158px 13% 0 0;
    }
    .campretxt
    {
        width: 100%;
        margin: 0 0 0 0;
        text-align: center;
        height: auto;
    }
    .mar-2
    {
        margin: 0;
    }
    .h3content
    {
        color: #31518a;
        font-size: 21px;
        margin: -12px 0 12px 10px;
        position: relative;
        float:none
    }
    .frame .biggest
    {
        width: inherit;
        margin-left: 0;
        padding-left:0
    }
    .arrow-down {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #0045a2;
    height: 0;
    left: 45.7%;
    position: absolute;
    width: 0;
    z-index: 9;
}
 .title
    {
        height:auto
        }
    .logo .logoimg
    {
        background-size:140px;
        height:74px
        }
    .frame .biggest h2 strong
    {
        font-size:45px;
        display:block
        }
        .campretxt p strong {
    display: block;
    float: none;
    font-size: 23px;
    line-height: 35px;
    margin-bottom: 0;
    overflow: hidden;
    text-align: center;
}
.campretxt p
{
    text-align:center
    }
    .section
    {
        border-width: 30px medium medium;
        padding:15px 0 0
        }
  .control-group label
  {
      width:100%;
      text-align:left
      }
    .control-group
    {
        margin-bottom:0
        }
  .control
  {
      width:100%;
      margin-left:0
      }
   .firstc .control-label
  {
      width:18%
      }
      
    .firstc .control
  {
      width:82%
      }
     .firstc .control h3
  {
      font-size:24px;
      margin:0
      }
  .free_sim_right_sub2
  {
      width:65%
      }
  .subcontent {
    padding: 25px 20px;
  
}
footer  .pull-right {
    float: left !important;
    padding-left:10px
}
.footer-bg p
{
    padding:20px 0 6px 10px
   
    }
 .ratesdrop .row-fluid
 {
     width:100%
     }
         .bundleun .title
    {
        height:90px
        }
        
  .col1, .col2, .col3 {
    float: none;
    margin: 0 auto;
    width: 90%;
    text-align:center;
    padding:20px 0 0 
}
.bundleun .header_top {
    background: #ffec67 url("../ppc/img-lp//unbgm.png") no-repeat scroll center top;
    padding-bottom: 0;
}
  .col2 img, .col3 img
  {
        float: none;
    margin: 0 auto;
    max-width: 49%;
    text-align: center;
      }
      .col1 ul
      {
           float:none;
           margin:0 auto
          }
           .hid-xs
          {
              display:none
              }
         .visi-xs
         {
             display:block
             }
             .ratesdrop h3 {
    color: #0045a2;
    font-family: "Roboto",sans-serif;
    font-size: 26px;
    font-weight: 500;
    margin: 15px;
}
.ratesdrop h3 span {
    display: inline-block;
    float: left;
    margin: 0 8px 44px 0;
}
}
@media only screen and (min-width:10px) and (max-width:479px)
{
   .frame .polandi h1 span {
    right: 0;
}
.frame .polandi h1
{
    line-height:47px
    }
.polandi .globeflag-in {
    margin: -178px 14px 0 0;
}
    {
        } 
    .frame .biggest h2 strong.inline {
    display: inline;
    font-size: 28px;
}
    .globeflag-in {
    margin: -119px 14px 0 0;
}
    .header_top_in .frame .biggest {
    width: 100%;
}
    .header_top_in {
    overflow: hidden;
    padding-bottom: 10px;
}
    .sim99in {
    margin: 0;
}
    .SecondFooter ul {
    clear: both;
    display: inline-block;
    margin: 8px 0 0 12px;
    padding: 0;
}
.SecondFooter ul li {
    color: #fff;
    font-size: 15px;
    margin: 5px 0 16px;
    padding: 0;
    text-align: left;
}
    .lp-img-1
    {
        max-width:78px
        }
    .ratesdrop h3 {
    color: #0045a2;
    font-family: "Roboto",sans-serif;
    font-size: 26px;
    font-weight: 500;
    margin: 15px;

}
.ratesdrop h3 span {
    display: inline-block;
    float: left;
    margin: 0 8px 44px 0;
}
    .container-wi
    {
        width: 100%;
    }
    #wrapper
    {
        min-width: inherit;
    }
    .frame h1
    {
        font-size: 75px;
        padding: 0 0 0 15px;
        margin:25px 0 10px
    }
    .frame h1 span
    {
        right: 12px;
    }
    .frame .biggest h2
    {
        margin-left: 24px;
        font-size:24px
    }
    .frame .biggest h2 span
    {
        font-size: 30px;
    }
    .globeflag
    {
        margin: -140px 22px 0 0;
        position: absolute;
        right: 0;
    }
    .biggest h3
    {
        margin-left: 24px;
    }
    .row-fluid .span6
    {
        width: 94%;
        margin: 0 auto;
        float: none;
    }
    .landing_pages .form
    {
        margin: 0 auto;
        width: 90%;
    }
    .row-fluid .span6:nth-child(2)
    {
        margin-top: 40px;
    }
    .deliverf, .deliverf-hu, .deliverf-ro
    {
        display: none;
    }
    .row-fluid .span3
    {
        width: 90%;
        margin: 0 auto;
        float: none;
        margin-bottom: 30px;
    }
    .footer-inner
    {
        margin-top: 0;
        margin-right: 0;
    }
    .footer_wrapper
    {
        height: auto;
        margin-top: 30px;
    }
    footer
    {
        height: auto;
        margin-left:0
    }
    .Lp-div-sub
    {
        margin-left: 0;
    }
    .yellowbutton
    {
        font-size: 18px;
        line-height: 48px;
    }
    .top-left-img
    {
        width: 320px;
        background-size: 100%;
    }
    .top-content, .top-content1, .top-content2, .top-content3
    {
        float: left;
        width: 75%;
    }
    .plus
    {
        clear: both;
        float: left;
        text-align: center;
        margin-left: 35px;
    }
    .plus h3
    {
        float: none;
    }
    .line-content
    {
        width: 100%;
    }
    .landing_pages h5
    {
        width: 83%;
        font-size: 16px;
        padding-top: 0;
    }
    .top-content h2, .top-content2 h2, .top-content3 h2, .top-content5 h2, .top-content6 h2
    {
        float: left;
        font-size: 24px;
        text-align: left;
        width: auto;
    }
    .ratesdrop
    {
        margin:0 0 15px 0;
    }
    .plus h3, .plus1
    {
        font-size: 30px;
    }
    .plus1
    {
        margin-left: 36px;
    }
    .input2_value
    {
        width: 63%;
    }
    .span6 .Lp-div-sub:nth-child(1)
    {
        margin-top: 20px;
    }
    .Lp-div-sub
    {
        margin-bottom: 10px;
        margin-top: 0;
    }
    footer .powered
    {
        height: auto;
        padding-left:10px
    }
    footer .copyright
    {
        margin: 0 0;
        width: 100%;
    }
    .footer_wrapper .pull-right
    {
        float: none !important;
        clear: both;
        padding: 15px 0 0 0;
    }
    .footer_wrapper
    {
        margin-top: 0;
    }
    .top-content, .top-content6
    {
        margin-left: 65px;
    }
    .top-content2, .top-content3, .top-content5
    {
        margin-left: 10px;
    }
    .top-content1
    {
        margin: 175px 0 0 198px;
        position: absolute;
        width: auto;
    }
    .top-content1 img
    {
        max-width: 63%;
    }
    .SecondFooter
    {
        width: 100%;
        margin: 0 auto;
    }
    .top-content6 h2
    {
        margin-left: 0;
    }
    .landing_pages h5.mar-1
    {
        margin-left: 55px;
        margin-top: 25px;
        text-align: left;
    }

    .frame .biggest
    {
        width: 100%;
        margin-left: 0;
        padding-left:0
    }
    .grayb
    {
        padding: 15px 0;
    }
    .bluebox
    {
        float: right;
        margin: 0 12px 12px 0;
        width: 175px;
    }
    .yellowbutton
    {
        font-size: 20px;
    }
    .visible-mobile
    {
        display: block;
    }
    .simbox img
    {
        max-width: 80%;
    }
    .campretxt
    {
        width: 100%;
        margin: 0 0 0 0;
        text-align: center;
        height: auto;
    }
    .camparebox
    {
        float: left;
        margin: 0 0 0 4%;
        width: 44%;
    }
    .mar-2
    {
        margin: 0;
    }
    .h3content
    {
        color: #31518a;
        font-size: 18px;
        margin: -12px 0 14px 10px;
        position: relative;
        float:none
    }
    .arrow-down
    {
        left: 44.3%;
         border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #0045a2;
    }
    .frame
    {
        margin-left: 0;
        display: block;
    }
    .title
    {
        height:auto
        }
    .logo .logoimg
    {
        background-size:140px;
        height:74px
        }
    .frame .biggest h2 strong
    {
        font-size:35px;
        display:block
        }
        .campretxt p strong {
    display: block;
    float: none;
    font-size: 23px;
    line-height: 35px;
    margin-bottom: 0;
    overflow: hidden;
    text-align: center;
}
.campretxt p
{
    text-align:center
    }
    .section
    {
        border-width: 30px medium medium;
        padding:15px 0 0
        }
  .control-group label
  {
      width:100%;
      text-align:left
      }
    .control-group
    {
        margin-bottom:0
        }
  .control
  {
      width:100%;
      margin-left:0
      }
   .firstc .control-label
  {
      width:27%
      }
      
    .firstc .control
  {
      width:73%
      }
     .firstc .control h3
  {
      font-size:18px;
      margin:0
      }
  .free_sim_right_sub2
  {
      width:62%
      }
  .subcontent {
    padding: 25px 20px;
  
}
footer  .pull-right {
    float: left !important;
    padding-left:10px
}
.footer-bg p
{
    padding:20px 0 0 10px
   
    }
    footer a
{
    color:#fff;
    display:block
    
    }
    .bundleun .title
    {
        height:90px
        }
        
  .col1, .col2, .col3 {
    float: none;
    margin: 0 auto;
    width: 90%;
    text-align:center;
    padding:20px 0 0 
}
.bundleun .header_top {
    background: #ffec67 url("../ppc/img-lp//unbgm.png") no-repeat scroll center top;
    padding-bottom: 0;
}

  .col2 img, .col3 img
  {
       float: none;
    margin: 0 auto;
    max-width: 73%;
    text-align: center;
      }
      .col1 ul
      {
           float:none;
           margin:0 auto
          }
          .hid-xs
          {
              display:none
              }
         .visi-xs
         {
             display:block
             }
}
